<!-- //Sub header-3 -->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>ترتيب الدوري </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a>المسابقات</a></li>
                    <li> ترتيب الدوري </li>
                </ul>
            </div>
            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form (ngSubmit)="Filters(filterForm.value)" #filterForm="ngForm">
                    <p class="inp-wrap search-wrap">
                        <input type="hidden" class="grid-75" placeholder="بحث" />
                    </p>
                    <p class="inp-wrap cat-wrap">
                        <select name="search categories" id="categories" class="grid-80" name="Gender" ngModel >
                          <option value="" selected>الجنس</option>
                          <option value="male" selected>ذكر</option>
                          <option value="female" selected>انثى</option>
                        </select>
                    </p>
                    <p class="inp-wrap search-wrap">
                        <select name="search categories" id="categories" class="grid-80" name="AgeID" ngModel #AgeID="ngModel">
              <option value="" selected>الفئة العمرية</option>
              <option *ngFor="let age of Ages" [ngValue]="age.ID">{{age.NameA}}</option>
            </select>
                    </p>


                    <p class="inp-wrap submit-wrap">
                        <button type="submit" class="grid-100 btn">

              <i class="fa fa-search"></i>
            </button>
                    </p>
                </form>
            </section>
            <!-- //serach + filter -->

        </div>
    </div>
</div>
<!-- //sub header-3 -->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content sportsmagazine-main-contentminus">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section PT-25">
        <div class="container">

            <!--// Widget Cetagories \\-->
            <div class="sportsmagazine-widget-heading">
                <h2>ترتيب الدوري</h2>
            </div>
            <div class="widget widget_team_ranking">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">الترتيب</th>
                            <th scope="col">الفريق</th>
                            <th scope="col">لوجو</th>
                            <th scope="col">L</th>
                            <th scope="col">W</th>
                            <th scope="col">G</th>
                            <th scope="col">M</th>
                            <th scope="col">PTS</th>
                            <th scope="col">الفئة العمرية</th>
                            <th scope="col">الدرجة</th>
                            <th scope="col">الجولة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of FilteredTables; let i = index ">
                            <th scope="row">{{i+1}}</th>
                            <td>{{row.ClubA.NameA}}</td>
                            <td><img style="width: 50px; height: 50px;" src="http://yakensolution.cloudapp.net/EB/Content/Images/{{row.ClubA.Logo}}" alt=""></td>
                            <td>{{row.Lose}}</td>
                            <td>{{row.Winner}}</td>
                            <td>{{row.OutGoals - row.INGoals}}</td>
                            <td>{{row.NumberOfMatches}}</td>
                            <td>{{row.Points}}</td>
                            <td>{{row.Age ? row.Age.NameA : ""}}</td>
                            <td>{{row.Division ? row.Division.NameA : ""}}</td>
                            <td>{{row.Round ? row.Round.NameA : ""}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--// Main Section \\-->
