<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
  <span class="subheader-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> المسابقات</h1>
      </div>
      <div class="col-md-12">
        <ul class="sportsmagazine-breadcrumb">
          <li><a routerLink="/">الرئيسية</a></li>
          <li> المسابقات</li>
        </ul>
      </div>
      <!-- //search + filter -->
      <section class="search-form col-md-12">
        <form action="" method="GET" name="search" role="search">
          <p class="inp-wrap search-wrap">
            <input type="search" name="search-term" id="search-field" class="grid-75" placeholder="بحث" /></p>


          <p class="inp-wrap submit-wrap">
            <button class="grid-100 btn">

              <i class="fa fa-search"></i>
            </button>
          </p>
        </form>
      </section>
      <!-- //serach + filter -->

    </div>
  </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section sportsmagazine-classic-fixturefull">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="sportsmagazine-fixture sportsmagazine-classic-fixture">
            <ul class="row">
              <li class="col-md-4" *ngFor="let comp of AllComps">
                <div class="sportsmagazine-classic-fixture-wrap">
                  <div style="padding:2%">
                    <h5 class="text-center">{{comp.NameA}}</h5>
                    <time datetime="2008-02-14 20:00"><i class="fas fa-calendar-alt"></i> {{comp.Date}}</time>
                    <h6><i class="fas fa-map-marker-alt"></i> {{comp.Location}}</h6>
                    <h3>
                      <a href="http://{{comp.RegisterLink}}" class="ticket-buy-btn">التسجيل</a>

                    </h3>
                    <br>

                  </div>
                  <h4 class="text-center">

                    <a routerLink="/competitions-details/{{comp.ID}}" class="btn btn-warning">التفاصيل</a>

                  </h4>
                  <br>

                </div>
              </li>
            </ul>
          </div>

        </div>


      </div>
    </div>
  </div>
  <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
