<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
  <span class="subheader-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> الأرشيف </h1>
      </div>
      <div class="col-md-12">
        <ul class="sportsmagazine-breadcrumb">
          <li><a routerLink="/">الرئيسية</a></li>
          <li> ملفات قسم الأرشيف </li>
        </ul>

      </div>

    </div>
  </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sportsmagazine-fancy-title-two">
            <h2>{{Arch.ArchiveCategory[0].NameA}}<span></span></h2>
          </div>
        </div>
        <div class="sportsmagazine-player sportsmagazine-player-grid">
          <ul class="row">
            <li class="col-md-3" *ngFor="let arch_cate_file of Arch.Files">

              <div class="sportsmagazine-player-grid-text">
                <h4>{{arch_cate_file.NameA}} </h4>
                <h5><a target="_blank" href="{{arch_cate_file.Path}}">تحميل الملف </a></h5>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!--// Main Section \\-->

</div>
<!--// Main Content \\-->