<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
  <span class="subheader-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> لجان الاتحاد </h1>
      </div>
      <div class="col-md-12">
        <ul class="sportsmagazine-breadcrumb">
          <li><a routerLink="/">الرئيسية</a></li>
          <li> تفاصيل اللجنه </li>
        </ul>

      </div>

    </div>
  </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sportsmagazine-fancy-title-two">
            <h2> أهداف اللجنة <span></span></h2>
          </div>

          <div class="Union_goals">
            <p innerHTML="{{Comm.ObjectivesA}}">
              المقروء لصفحة ما سيلهي
              القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة
              التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ

              المقروء لصفحة ما سيلهي
              القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة
              التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ

              المقروء لصفحة ما سيلهي
              القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة
              التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ

              المقروء لصفحة ما سيلهي
              القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة
              التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ

              المقروء لصفحة ما سيلهي
              القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة
              التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="sportsmagazine-fancy-title-two">
            <h2> أعضاء اللجنة <span></span></h2>
          </div>
        </div>
        <div class="sportsmagazine-player sportsmagazine-player-grid">
          <ul class="row">
            <li class="col-md-3" *ngFor="let comm_memb of Comm.CommitteMember">

              <div class="sportsmagazine-player-grid-text">
                <h5><a>{{comm_memb.NameA}} </a></h5>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
