<!--// SubHeader-7 \\-->
<div class="sportsmagazine-subheader">
  <span class="subheader-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>تواصل معنا</h1>
      </div>
      <div class="col-md-12">
        <ul class="sportsmagazine-breadcrumb">
          <li><a routerLink="/">الرئيسية</a></li>
          <li>تواصل معنا</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--// SubHeader-7 \\-->

<style>
  .sportsmagazine-contact-text {
    height: 70px;
  }
  .sportsmagazine-contactus-info .fa {
    color: white !important;
  }
</style>

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section sportsmagazine-contactus-full">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="sportsmagazine-fancy-title-two">
            <h2>تواصل معنا <span></span></h2>
          </div>
          <div class="sportsmagazine-contactus-info">
            <ul class="row">
              <li class="col-md-4">
                <i class="fa fa-phone"></i>
                <div class="sportsmagazine-contact-text">
                  <p style="font-size: 30px;">{{ContactUs.PhoneNumber}}</p>
                </div>
              </li>
              <li class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="sportsmagazine-contact-text">
                  <p>{{ContactUs.Address}}</p>
                </div>
              </li>
              <li class="col-md-4">
                <i class="fa fa-envelope"></i>
                <div class="sportsmagazine-contact-text">
                  <a style="font-size: 30px;" href="{{ContactUs.Email}}">{{ContactUs.Email}}</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="sportsmagazine-fancy-title-two">
            <h2>تواصل معنا عبر <span></span></h2>
          </div>
        </div>
        <div class="col-md-9">
          <div class="sportsmagazine-contact-form">
            <form>
              <ul>
                <li>
                  <label>الاسم:</label>
                  <p>
                    <input [(ngModel)]="ContactName" [ngModelOptions]="{standalone: true}" value="أكتب هنا..." onblur="if(this.value == '') { this.value ='أكتب هنا...'; }" onfocus="if(this.value =='أكتب هنا...') { this.value = ''; }"
                      type="text">
                    <span><i class="fa fa-user"></i></span>
                  </p>
                </li>
                <li>
                  <label>البريد االكتروني:</label>
                  <p>
                    <input [(ngModel)]="ContactEmail" [ngModelOptions]="{standalone: true}" value="أكتب هنا..." onblur="if(this.value == '') { this.value ='أكتب هنا...'; }" onfocus="if(this.value =='أكتب هنا...') { this.value = ''; }"
                      type="text">
                    <span><i class="fa fa-envelope"></i></span>
                  </p>
                </li>
                <li class="full-input">
                  <label>الرسائل:</label>
                  <p>
                    <textarea [(ngModel)]="ContactMessage" [ngModelOptions]="{standalone: true}" name="u_msg" placeholder="أكتب هنا..."></textarea>
                    <span><i class="fa fa-comment"></i></span>
                  </p>

                </li>
                <li>
                  <p><label><button type="button" style="background-color: black; color: white; height: 80px; width: 150px;" (click)="SendMessage(ContactName, ContactEmail, ContactMessage)">إرسال الرسالة</button></label></p>
                </li>
              </ul>
            </form>
          </div>
        </div>
        <div class="col-md-3">
          <ul class="sportsmagazine-contact-us-text">
            <li>
              <h4>مواعيد العمل </h4>
              <p style="font-size: 25px;">{{ContactUs.WorkingHours}}</p>
            </li>
          </ul>
        </div>

        <div class="col-md-12">
          <div class="sportsmagazine-fancy-title-two">
            <h2>موقعنا <span></span></h2>
          </div>
          <div class="text-center" style="margin-bottom: 50px;">
            <!-- <h1 class="text-center">
              <div class="mapouter">
                <div class="gmap_canvas"><iframe width="850" height="500" id="gmap_canvas" [src]="urlSafe"
                    frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de/webdesign-essen/"></a></div>
                <style>
                  .mapouter {
                    text-align: center;
                    height: 500px;
                    width: 850px;
                  }

                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 850px;
                  }

                </style>
              </div>
            </h1> -->

            <a target="_blank" href="https://www.google.com/maps/place/Cairo+International+Stadium/@30.0690809,31.310143,17z/data=!3m1!4b1!4m5!3m4!1s0x14583e4cfbd1592d:0xc90510d48ee6cca4!8m2!3d30.0690763!4d31.3123317"><img class="img-fluid mx-auto d-block" src="assets/images/loc_map.jpg" /></a>

          </div>

        </div>


      </div>
    </div>
  </div>
  <!--// Main Section \\-->



</div>
<!--// Main Content \\-->
