<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>الدورات التدريبية </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a>المدربين</a></li>
                    <li> الدورات التدريبية</li>
                </ul>
            </div>

            <section class="search-form col-md-12">
                <form>
                    <p class="inp-wrap search-wrap">
                        <input type="search" class="grid-75" placeholder="بحث" [(ngModel)]="CourseName"
                            [ngModelOptions]="{standalone: true}" style="font-size:20px" /></p>

                    <p class="inp-wrap cat-wrap">
                        <select name="search categories" id="categories" [(ngModel)]="CourseType" [ngModelOptions]="{standalone: true}"
                            class="grid-80">
                            <option value="" selected></option>
                            <option value="Judges">Judges</option>
                            <option value="Coaches">Coaches</option>
                        </select>
                    </p>

                    <p class="inp-wrap submit-wrap">
                        <button type="button" class="grid-100 btn" (click)="FilterCourses(CourseType)">
                            <i class="fa fa-search"></i>
                        </button>

                    </p>
                </form>

            </section>
        </div>
    </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="sportsmagazine-blog sportsmagazine-blog-grid">
                        <ul class="row">
                            <li class="col-md-4" *ngFor="let desc of FilteredCourses">

                                <section>
                                    <h2><a routerLink="/course-details/{{desc.ID}}">{{desc.TitleA}}</a></h2>
                                    <p innerHTML="{{desc.ShortDescriptionA}}">

                                    </p>
                                    <a routerLink="/course-details/{{desc.ID}}" class="sportsmagazine-readmore-btn">أقرا
                                        المزيد <i class="fa fa-arrow-circle-o-right"></i></a>

                                </section>
                                <div class="sportsmagazine-blog-grid-options">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> <a>{{desc.Location}}</a></li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->