@media screen and (max-width: 600px) {
  .d-none {
    display: none;
  }

  .d-block {
    font-size: 10px;
  }

  .d-block-md {
    display: none;
  }

  .d-block-sm {
    font-size: 10px;
  }
}

@media screen and (min-width: 600px) {

  .d-block {
    display: none;
  }
}
