<!--// SubHeader-5 \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 *ngIf="Route.url ==='/match-result'"> نتائج المسابقات </h1>
                <h1 *ngIf="Route.url !=='/match-result'"> نتائج البطولات </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb" *ngIf="Route.url ==='/match-result'">
                    <li><a>المسابقات</a></li>
                    <li> نتائج المسابقات </li>
                </ul>
                <ul class="sportsmagazine-breadcrumb" *ngIf="Route.url !=='/match-result'">
                    <li><a>الفرق الوطنية</a></li>
                    <li> نتائج البطولات </li>
                </ul>
            </div>
            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form (ngSubmit)="Filters(filterForm.value)" #filterForm="ngForm">

                    <!-- <p class="inp-wrap search-wrap">
            <select name="search categories" id="categories" class="grid-80" [(ngModel)]="Age" [ngModelOptions]="{standalone: true}">
              <option value="" selected>الفئة العمرية</option>
              <option *ngFor="let age of Ages" [ngValue]="age.ID">{{age.NameA}}</option>
            </select>
          </p>

          <p class="inp-wrap cat-wrap">
            <select name="search categories" id="categories" class="grid-80" [(ngModel)]="Div" [ngModelOptions]="{standalone: true}">
              <option value="" selected>الدرجة</option>
              <option *ngFor="let div of Divs" [ngValue]="div.ID">{{div.NameA}} </option>
            </select>
          </p> -->

                    <p class="inp-wrap cat-wrap">
                        <select class="grid-80" name="gender" #gender="ngModel" ngModel>
              <option value="" selected>الجنس</option>
              <option value="male" >ذكر</option>
              <option value="female" >انثى</option>
            </select>
                    </p>

                    <p class="inp-wrap cat-wrap">
                        <select name="search categories" id="categories" class="grid-80" name="age" #age="ngModel" ngModel>
              <option value="" selected>الفئه العمريه</option>
              <option *ngFor="let div of Divs" [ngValue]="div.ID">{{div.NameA}} </option>
            </select>
                    </p>

                    <!-- <p class="inp-wrap cat-wrap" *ngIf="Route.url ==='/national-match-result'">
                        <select class="grid-80" [(ngModel)]="ClubName" [ngModelOptions]="{standalone: true}">
              <option value="" selected>النادي</option>
              <option *ngFor="let club of Clubs" [ngValue]="club.NameA">{{club.NameA}}</option>
            </select>
                    </p> -->

                    <p class="inp-wrap submit-wrap">



                        <button type="submit" class="grid-100 btn">
              <i class="fa fa-search"></i>
            </button>
                    </p>
                </form>
            </section>
            <!-- //serach + filter -->
        </div>
    </div>
</div>
<!--// SubHeader-5 \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
        <div class="row">

            <div class="col-md-12">
                <h3 style="margin-right: 5%;">أحدث مباريات </h3>
                <br />
                <div class="sportsmagazine-playoff-staning">
                    <table class="sportsmagazine-client-detail">
                        <tr>
                            <th><span class="d-block-md">الفريق الاول</span> <span class="d-block">الفريق أ</span></th>
                            <th><span class="d-block-md">الفريق التاني</span> <span class="d-block">الفريق ب</span></th>
                            <th><span class="d-block-md">نقاط الفريق الاول</span> <span class="d-block">نقاط أ</span> </th>
                            <th><span class="d-block-md">نقاط الفريق التاني </span><span class="d-block">نقاط ب</span></th>
                            <th class="d-none" *ngIf="Route.url ==='/match-result'">الدرجة</th>
                            <th class="d-none" *ngIf="Route.url ==='/match-result'">الجولة</th>
                            <th *ngIf="Route.url ==='/match-result'" class="d-block-sm">تحت سن</th>
                            <th *ngIf="Route.url ==='/match-result'" class="d-block-sm">النوع</th>
                            <th class="d-none">التاريخ</th>
                            <th class="d-none">المكان</th>

                        </tr>
                        <tr *ngFor="let match of FilteredMatches">
                            <td class="d-block-sm">
                                <figure><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{match.LogoA}}" alt="" (error)="errorHandler($event)"></figure>
                                <div class="player-stats-text">
                                    <h6>{{match.ClubA}}</h6>
                                    <h6>{{match.NationalA}}</h6>

                                </div>
                            </td>
                            <td class="d-block-sm">
                                <figure><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{match.LogoB}}" alt="" (error)="errorHandler($event)"></figure>
                                <div class="player-stats-text">
                                    <h6>{{match.ClubB}}</h6>
                                    <h6>{{match.NationalB}}</h6>

                                </div>
                            </td>
                            <td class="d-block-sm">{{match.ScoreA}}</td>
                            <td class="d-block-sm">{{match.ScoreB}}</td>
                            <td class="d-none" *ngIf="Route.url ==='/match-result'">{{match.Division == null ? "" : match.Division.NameA}}
                            </td>
                            <td class="d-none" *ngIf="Route.url ==='/match-result'">{{match.Round == null ? "" : match.Round.NameA}}</td>
                            <td class="d-block-sm" *ngIf="Route.url ==='/match-result'">{{match.Age == null ? "" : match.Age.NameA}}</td>
                            <td class="d-block-sm" *ngIf="Route.url ==='/match-result'">{{match.Gender}}</td>
                            <td class="d-none">{{match.Date | date}} </td>
                            <td class="d-none">{{match.Place}}</td>

                        </tr>

                    </table>
                </div>
                <!-- <ul class="sportsmagazine-offstanding-text">
                        <li>
                            <h6>POS :</h6>
                            <span>المركز</span>
                        </li>
                        <li>
                            <h6>L :</h6>
                            <span>خسائر</span>
                        </li>
                        <li>
                            <h6>RAOD :</h6>
                            <span>سجل الطريق</span>
                        </li>
                        <li>
                            <h6>DIF :</h6>
                            <span>متوسط نقطة التفاضلية</span>
                        </li>
                        <li>
                            <h6>TEAMS :</h6>
                            <span>اسماء الفرق</span>
                        </li>
                        <li>
                            <h6>PCT :</h6>
                            <span>الفوز بالنسبه</span>
                        </li>
                        <li>
                            <h6>PPG :</h6>
                            <span>النقاط لكل لعبة</span>
                        </li>
                        <li>
                            <h6>STRK :</h6>
                            <span>العلامة الحالية</span>
                        </li>
                        <li>
                            <h6>HOME :</h6>
                            <span>سجل المنزل</span>
                        </li>
                        <li>
                            <h6>OP PPG :</h6>
                            <span>معارضو النقاط لكل لعبة</span>
                        </li>
                        <li>
                            <h6>L10G :</h6>
                            <span>سجل آخر 10 ألعاب</span>
                        </li>
                        <li>
                            <h6>STRK :</h6>
                            <span>العلامة الحالية</span>
                        </li>
                    </ul> -->
            </div>



        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
