<!-- //Sub header-2 -->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>المقالات </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a routerLink="/">الرئيسية</a></li>
                    <li> تفاصيل المقال </li>
                </ul>

            </div>

        </div>
    </div>
</div>
<!-- //Sub header-2 -->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content sportsmagazine-main-contentminus">



    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section PT-25">
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <figure>
                        <a><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{News.ImageUrl}}" (error)="errorHandler($event)" alt=""></a>
                    </figure>
                    <div class="sportsmagazine-bloglarge-text">
                        <time>{{News.Date | date}}</time>
                        <h3><a>{{News.TitleA}}</a></h3>
                    </div>
                    <div class="sportsmagazine-rich-editor">

                        <blockquote innerHTML="{{News.LongDescriptionA}}">

                            <span></span>
                        </blockquote>
                        <br>
                        <br>
                        <share-buttons [include]="['facebook','twitter','whatsapp']" [show]="3" [url]="CurrentURL" [showText]="true" [autoSetMeta]="false">
                        </share-buttons>
                        <br>
                        <br>


                    </div>
                    <div class="sportsmagazine-prenxt-post">
                        <ul>
                            <li>
                                <div class="sportsmagazine-prev-post">
                                    <figure>
                                        <a routerLink="/news-details/{{AllNews[0].ID}}"><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{AllNews[0].ImageUrl}}" alt=""></a>
                                    </figure>
                                    <div class="sportsmagazine-prev-artical">
                                        <h3><a routerLink="/news-details/{{AllNews[0].ID}}">{{AllNews[0].TitleA}}</a></h3>
                                        <a routerLink="/news-details/{{AllNews[0].ID}}" class="sportsmagazine-post-arrow"><i class="fa fa-angle-double-left"></i>
                        الخبر السابق</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sportsmagazine-next-post">
                                    <figure>
                                        <a routerLink="/news-details/{{AllNews[1].ID}}"><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{AllNews[1].ImageUrl}}" alt=""></a>
                                    </figure>
                                    <div class="sportsmagazine-next-artical">
                                        <h3><a routerLink="/news-details/{{AllNews[1].ID}}">{{AllNews[1].TitleA}}</a></h3>
                                        <a routerLink="/news-details/{{AllNews[1].ID}}" class="sportsmagazine-post-arrow">الخبر التالي <i
                          class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sportsmagazine-section-heading">
                        <h2>أخبار ذات صلة</h2>
                    </div>
                    <div class="sportsmagazine-related-article sportsmagazine-blog-artical">
                        <ul class="row">
                            <li class="col-md-4">
                                <figure>
                                    <a routerLink="/news-details/{{LastNews[0].ID}}"><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{LastNews[0].ImageUrl}}" alt=""><i class="fa fa-link"></i></a>
                                </figure>
                                <div class="sportsmagazine-article-text">
                                    <time>{{LastNews[0].CreationDate | date}}</time>
                                    <h5><a routerLink="/news-details/{{LastNews[0].ID}}">{{LastNews[0].TitleA}}</a></h5>
                                    <br>
                                    <p class="FR-text" innerHTML="{{LastNews[0].ShortDescriptionA}}">

                                    </p>
                                </div>
                                <ul class="sportsmagazine-article-options">
                                    <li><a><i class="fa fa-eye"></i> {{LastNews[0].Views}}</a></li>
                                </ul>
                            </li>

                            <li class="col-md-4">
                                <figure>
                                    <a routerLink="/news-details/{{LastNews[1].ID}}"><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{LastNews[1].ImageUrl}}" alt=""><i class="fa fa-link"></i></a>
                                </figure>
                                <div class="sportsmagazine-article-text">
                                    <time>{{LastNews[1].CreationDate | date}}</time>
                                    <h5><a routerLink="/news-details/{{LastNews[1].ID}}">{{LastNews[1].TitleA}}</a></h5>
                                    <br>

                                    <p class="FR-text" innerHTML="{{LastNews[1].ShortDescriptionA}}">

                                    </p>
                                </div>
                                <ul class="sportsmagazine-article-options">
                                    <li><a><i class="fa fa-eye"></i> {{LastNews[1].Views}}</a></li>
                                </ul>
                            </li>

                            <li class="col-md-4">
                                <figure>
                                    <a routerLink="/news-details/{{LastNews[2].ID}}"><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{LastNews[2].ImageUrl}}" alt=""><i class="fa fa-link"></i></a>
                                </figure>
                                <div class="sportsmagazine-article-text">
                                    <time>{{LastNews[2].CreationDate | date}}</time>
                                    <h5><a routerLink="/news-details/{{LastNews[2].ID}}">{{LastNews[2].TitleA}}</a></h5>
                                    <br>
                                    <p class="FR-text" innerHTML="{{LastNews[2].ShortDescriptionA}}">
                                    </p>
                                </div>
                                <ul class="sportsmagazine-article-options">
                                    <li><a><i class="fa fa-eye"></i> {{LastNews[2].Views}}</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>


                </div>

                <!--// SideBar \\-->
                <aside class="col-md-4">


                    <!--// Widget Cetagories \\-->
                    <div class="sportsmagazine-widget-heading">
                        <h2>ترتيب الدوري</h2>
                    </div>
                    <div class="widget widget_team_ranking">

                        <div class="ranking-title-table">
                            <ul class="ranking-title-row">
                                <li>الترتيب</li>
                                <li>الفريق</li>
                                <li></li>
                                <li></li>

                                <li class="text-center">L</li>
                                <li class="text-center">W</li>
                                <li class="text-center">IG</li>
                                <li class="text-center">OG</li>
                                <li class="text-center">PTS</li>
                            </ul>
                        </div>
                        <div class="ranking-content-table" *ngFor="let row of Table; let i = index ">
                            <ul class="ranking-content-row">
                                <li class="text-center">{{i+1}}</li>
                                <li class="text-center">
                                    <img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{row.Logo}}" alt="">
                                    <div class="ranking-logo">
                                        <span>{{row.ClubName}}</span>
                                    </div>
                                </li>
                                <li class="text-center">{{row.Lose}}</li>
                                <li class="text-center">{{row.Winner}}</li>
                                <li class="text-center">{{row.INGoals}}</li>
                                <li class="text-center">{{row.OutGoals}}</li>
                                <li class="text-center">{{row.Points}}</li>
                            </ul>
                        </div>

                    </div>

                    <!--// Widget Cetagories \\-->

                    <!--// Widget Upcoming Matches \\-->
                    <div class="sportsmagazine-widget-heading">
                        <h2>المسابقات القادمة</h2>
                    </div>
                    <div class="widget widget_matches">
                        <ul>
                            <li *ngFor="let match of NMatches" class="text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <h6><a>{{match.ClubA}}</a></h6>
                                        </div>

                                    </div>

                                    <span class="col-md-4">VS</span>

                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <h6><a>{{match.ClubB}}</a></h6>
                                        </div>

                                    </div>

                                </div>

                                <h4 class="text-center">{{match.Date | date}}</h4>
                            </li>

                        </ul>
                    </div>


                    <!--// Widget Upcoming Matches \\-->



                </aside>
                <!--// SideBar \\-->


            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
