<!--// SubHeader-6 \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>القواعد والقوانین </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a>المسابقات</a></li>
                    <li>القواعد والقوانین </li>
                </ul>

            </div>
            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form>
                    <p class="inp-wrap search-wrap">
                        <input type="search" [(ngModel)]="RuleName" [ngModelOptions]="{standalone: true}" class="grid-75" placeholder="بحث" /></p>

                    <p class="inp-wrap submit-wrap">
                        <button type="button" class="grid-100 btn">

                <i class="fa fa-search"></i>
              </button>
                    </p>
                </form>
            </section>
            <!-- //serach + filter -->
        </div>
    </div>
</div>
<!--// SubHeader-6 \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <div id="content">
                        <div class="Roles" *ngFor="let rule of Rules | searchfilter: 'NameA' : RuleName">
                            <div class="sportsmagazine-widget-heading">
                                <h2>{{rule.NameA}}</h2>
                            </div>
                            <p innerHTML="{{rule.ShortDescriptionA}}"></p>
                            <a href="http://yakensolution.cloudapp.net/EB/Content/Pdfs/{{rule.PdfName}}" target="blank" class="profisional_players" id="cmd" download="true"> اقرا ك PDF <i class="fa fa-arrow-left"></i>
              </a>
                            <br>
                            <br>


                        </div>
                    </div>
                    <div id="editor"></div>

                </div>
                <!--// SideBar \\-->
                <aside class="col-md-4">

                    <!--// Widget Upcoming Matches \\-->
                    <div class="sportsmagazine-widget-heading">
                        <h2>المباريات القادمة</h2>
                    </div>
                    <div class="widget widget_matches">
                        <ul>
                            <li *ngFor="let match of NMatches" class="text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <h6><a>{{match.ClubA}}<img style="max-height: 50px;" src="http://yakensolution.cloudapp.net/EB/Content/Images/{{match.LogoA}}"></a></h6>
                                        </div>

                                    </div>

                                    <span class="col-md-4">VS</span>

                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <h6><a>{{match.ClubB}}<img style="max-height: 50px;" src="http://yakensolution.cloudapp.net/EB/Content/Images/{{match.LogoB}}"></a></h6>
                                        </div>

                                    </div>

                                </div>

                                <h4 class="text-center">{{match.Date | date}}</h4>
                            </li>

                        </ul>
                    </div>

                    <!--// Widget Upcoming Matches \\-->

                    <!--// Widget Trending News \\-->
                    <!-- <div class="sportsmagazine-widget-heading">
            <h2>أعلى الأخبار الرائجة</h2>
          </div>
          <div class="widget widget_trending_news">

            <ul class="nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">مجموعة جديدة</a>
              </li>
              <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">الأكثر
                  تعليقا</a>
              </li>

            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="widget_popular_news">
                  <ul>
                    <li>
                      <div class="popular_news_text">
                        <small>الفريق</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                    <li class="widget-injuries">
                      <div class="popular_news_text">
                        <small>الإصابات</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                    <li class="widget-theleague">
                      <div class="popular_news_text">
                        <small> الدوري</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="widget_popular_news">
                  <ul>
                    <li class="widget-injuries">
                      <div class="popular_news_text">
                        <small>الإصابات</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                    <li>
                      <div class="popular_news_text">
                        <small>الفريق</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
           -->
                    <!--// Widget Trending News \\-->


                </aside>
                <!--// SideBar \\-->


            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
