.export{
    transform:translateY(-50px);
    -webkit-transform:translateY(-50px);
    -moz-transform:translateY(-50px);
    color:#ee274f;
    font-size:18px;
    text-decoration:underline;
    background:#fff;
}