<!--// Main Content \\-->
<div >
<div class="sportsmagazine-main-content sportsmagazine-main-contentminus"id="contentToConvert">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-thumb sportsmagazine-player-thumb" style="margin: 0px 0px 20px;">
        <span class="thumb-transparent"></span>

        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="sportsmagazine-player-thumb-wrap">
                        <figure><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{Player.ImageUrl}}" (error)="errorHandler($event)" alt=""></figure>
                        <div class="sportsmagazine-player-thumb-text">
                            <h2>10</h2>
                            <h3><br><span>{{Player.NameA}}</span></h3>

                            <ul class="sportsmagazine-player-info">
                                <li>
                                    <h5>السن:</h5>
                                    <span>{{Player.Age}} سنة</span>
                                </li>
                                <li>
                                    <h5>المركز:</h5>
                                    <span>{{Player.Position}}</span>
                                </li>

                                <li>
                                    <h5>الطول:</h5>
                                    <span>{{Player.Height}} سم</span>
                                </li>
                                <li>
                                    <h5>الوزن:</h5>
                                    <span>{{Player.Weight}} كيلو</span>
                                </li>
                                <li>
                                    <h5>النادي:</h5>
                                    <span>{{Player.ClubName}}</span>
                                </li>
                                <li>
                                    <h5>المسابقات الدولية:</h5>
                                    <span>{{Player.InternationalMatches}}</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--// Main Section \\-->
    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section" >
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <div class="sportsmagazine-section-heading">


                        <share-buttons [include]="['facebook','twitter','whatsapp']" [show]="3" [showText]="true" [url]="CurrentURL" [autoSetMeta]="false"></share-buttons>

                    </div>
                    <div class="sportsmagazine-section-heading">
                        <h2>انتقالات دولية </h2>
                    </div>
                    <table class="sportsmagazine-client-detail" >
                        <tr>
                            <th>انتقل من </th>
                            <th>انتقل الي </th>
                            <th>التاريخ </th>

                        </tr>
                        <tr *ngFor="let p of Player.Transfar">
                            <td>{{p.TransfarFrom}}</td>
                            <td>{{p.TransfarTo}}</td>
                            <td>{{p.Year}}</td>
                        </tr>

                    </table>

                    <div class="sportsmagazine-section-heading">
                        <h2>انتقالات محلية </h2>
                    </div>
                    <table class="sportsmagazine-client-detail">
                        <tr>
                            <th>النادي </th>
                            <th>من سنة </th>
                            <th>إلى سنة </th>

                        </tr>
                        <tr *ngFor="let p of Player.PreviousClubs">
                            <td>{{p.ClubName}}</td>
                            <td>{{p.YearFrom}}</td>
                            <td>{{p.YearTo}}</td>
                        </tr>

                    </table>

                    <!-- <div class="sportsmagazine-section-heading">
            <h2>لاعبين ذات صله</h2>
          </div>
          <div class="sportsmagazine-player sportsmagazine-player-grid">
            <ul class="row">
              <li class="col-md-4" *ngFor="let p of RelatedPlayers">
                <figure><a routerLink="/player-details/{{p.ID}}"><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{p.ImageUrl}}"
                      alt=""  (error)="errorHandler($event)"><i class="fa fa-link"></i></a><span></span></figure>
                <div class="sportsmagazine-player-grid-text">
                  <h5><a routerLink="/player-details/{{p.ID}}">{{p.NameA}}</a></h5>
                  <p> <i class=" fa fa-user"> </i> {{p.Age}} سنه <span class="club_name"><i class=" fa fa-fort-awesome">
                      </i> {{p.ClubName}}</span></p>

                </div>
              </li>

            </ul>
          </div> -->
                </div>

                <!--// SideBar \\-->
                <aside class="col-md-4">

                    <!-- <div class="sportsmagazine-widget-heading">
            <h2>المسابقات القادمة</h2>
          </div>
          <div class="widget widget_matches">
            <ul>
              <li *ngFor="let match of NMatches" class="text-center">
                <div class="row">
                  <div class="col-md-4">
                    <div class="text-center">
                      <h6><a>{{match.ClubA}}</a></h6>
                    </div>

                  </div>

                  <span class="col-md-4">VS</span>

                  <div class="col-md-4">
                    <div class="text-center">
                      <h6><a>{{match.ClubB}}</a></h6>
                    </div>

                  </div>

                </div>

                <h4 class="text-center">{{match.Date | date}}</h4>
              </li>

            </ul>
          </div> -->
                    <!--// Widget Upcoming Matches \\-->

                    <!--// Widget Trending News \\-->
                    <!-- <div class="sportsmagazine-widget-heading">
                                <h2>أعلى الأخبار الرائجة</h2>
                            </div>
                            <div class="widget widget_trending_news">

                                <ul class="nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">مجموعة جديدة</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">الأكثر
                                            تعليقا</a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <div class="widget_popular_news">
                                            <ul>
                                                <li>
                                                    <div class="popular_news_text">
                                                        <small>الفريق</small>
                                                        <a href="blog-detail.html">سوف ملعب كرة
                                                            السلة قدرة قصوى ل 5000 المشجعين</a>
                                                        <time datetime="2008-02-14 20:00">ديسمبر
                                                            21, 2017</time>
                                                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                                            المحتوى المقروء لصفحة ما سيلهي
                                                            القارئ عن التركيز على الشكل الخارجي
                                                            للنص أو شكل توضع الفقرات
                                                            في الصفحة التي يقرأها. </p>
                                                    </div>
                                                </li>
                                                <li class="widget-injuries">
                                                    <div class="popular_news_text">
                                                        <small>الإصابات</small>
                                                        <a href="blog-detail.html">سوف ملعب كرة
                                                            السلة قدرة قصوى ل 5000 المشجعين</a>
                                                        <time datetime="2008-02-14 20:00">ديسمبر
                                                            21, 2017</time>
                                                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                                            المحتوى المقروء لصفحة ما سيلهي
                                                            القارئ عن التركيز على الشكل الخارجي
                                                            للنص أو شكل توضع الفقرات
                                                            في الصفحة التي يقرأها. </p>
                                                    </div>
                                                </li>
                                                <li class="widget-theleague">
                                                    <div class="popular_news_text">
                                                        <small> الدوري</small>
                                                        <a href="blog-detail.html">سوف ملعب كرة
                                                            السلة قدرة قصوى ل 5000 المشجعين</a>
                                                        <time datetime="2008-02-14 20:00">ديسمبر
                                                            21, 2017</time>
                                                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                                            المحتوى المقروء لصفحة ما سيلهي
                                                            القارئ عن التركيز على الشكل الخارجي
                                                            للنص أو شكل توضع الفقرات
                                                            في الصفحة التي يقرأها. </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">
                                        <div class="widget_popular_news">
                                            <ul>
                                                <li class="widget-injuries">
                                                    <div class="popular_news_text">
                                                        <small>الإصابات</small>
                                                        <a href="blog-detail.html">سوف ملعب كرة
                                                            السلة قدرة قصوى ل 5000 المشجعين</a>
                                                        <time datetime="2008-02-14 20:00">ديسمبر
                                                            21, 2017</time>
                                                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                                            المحتوى المقروء لصفحة ما سيلهي
                                                            القارئ عن التركيز على الشكل الخارجي
                                                            للنص أو شكل توضع الفقرات
                                                            في الصفحة التي يقرأها. </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="popular_news_text">
                                                        <small>الفريق</small>
                                                        <a href="blog-detail.html">سوف ملعب كرة
                                                            السلة قدرة قصوى ل 5000 المشجعين</a>
                                                        <time datetime="2008-02-14 20:00">ديسمبر
                                                            21, 2017</time>
                                                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                                            المحتوى المقروء لصفحة ما سيلهي
                                                            القارئ عن التركيز على الشكل الخارجي
                                                            للنص أو شكل توضع الفقرات
                                                            في الصفحة التي يقرأها. </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                             -->

                    <!--// Widget Trending News \\-->


                </aside>
                <!--// SideBar \\-->


            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12" >
        <button class="export" (click)="export()">Download As a Pdf</button>
        </div>
    </div>
</div>
