/*	Media 768Px Start */
@media (min-width: 768px) and (max-width: 990px) {
  .navbar {
    position: relative;
  }

  .navbar-toggle {
    display: block;
    background-color: #eee;
    margin: 30px 30px 13px 0px;
  }

  .navbar-collapse {
    padding: 0px 0px 0px 0px;
    width: 260px;
    background-color: #272727;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.10);
    border: none;
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: 9999;
    margin: 10px 0px 0px 0px;
  }

  #sportsmagazine-header .collapse {
    display: none;
  }

  #sportsmagazine-header .collapse.in {
    display: block;
  }

  .sportsmagazine-thumbnail {
    margin-bottom: 0px;
  }

  .navbar-nav>li:first-child>a {
    padding-left: 22px;
  }

  .navbar-nav {
    margin: 0px;
  }

  .navbar-nav>li>a:before,
  .navbar-nav>li>a:after {
    display: none;
  }

  .sportsmagazine-dropdown-menu {
    float: left;
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
  }

  .sportsmagazine-dropdown-menu,
  .sportsmagazine-megamenu {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  .sportsmagazine-megamenu {
    float: left;
    min-width: 100%;
    position: relative;
    right: auto;
    top: auto;
    padding: 20px 8px 5px 8px;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
  }

  .sportsmagazine-megamenu [class*="col-md-"] {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }

  .sportsmagazine-megamenu .row {
    margin: 0px;
  }

  .navbar-nav>li>a {
    float: left;
    width: 100%;
    padding: 20px 20px 10px 20px;
  }

  .navbar-nav>li {
    width: 100%;
    padding: 0px 0px;
  }

  /* Header */
  .sportsmagazine-sticky .sportsmagazine-main-header {
    position: static;
  }

  .sportsmagazine-sticky .sportsmagazine-header-two .navbar {
    position: static;
  }

  .sportsmagazine-sticky .sportsmagazine-logo-two,
  .sportsmagazine-sticky .header-info {
    display: block;
  }

  .sportsmagazine-sticky .sportsmagazine-header-two .sportsmagazine-main-header {
    background: #292c31;
  }

  .sportsmagazine-search-btn {
    padding: 37px 0px 47px;
  }

  .sportsmagazine-banner-caption {
    display: none;
  }

  /* Content */
  .sportsmagazine-fixture-slider-layer ul:before,
  .sportsmagazine-fixture-slider-layer ul li.first-child:before {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }

  .sportsmagazine-blog>ul>li {
    float: left;
    width: 50%;
  }

  .sportsmagazine-blog-grid section {
    padding: 19px 25px 0;
  }

  .sportsmagazine-blog-list ul li {
    float: none;
  }

  .sportsmagazine-match-result {
    background-position: center;
  }

  .sportsmagazine-blog-list {
    margin: 0px 0px 30px;
  }

  .sportsmagazine-addbanner-caption {
    width: 71%;
  }

  .widget_trending_news .nav-tabs li {
    padding: 0 13px;
  }

  .sportsmagazine-footer-widget .widget {
    float: left;
    width: 50%;
  }

  .sportsmagazine-logo-two {
    width: 100%;
    text-align: center;
    margin: 30px 0 20px;
  }

  .header-info {
    padding: 0px;
  }

  .sportsmagazine-header-two .navbar-default {
    background-color: transparent;
  }

  .navbar-header {
    float: right;
  }

  .sportsmagazine-header-two .navbar-nav>li {
    padding: 0px;
  }

  .sportsmagazine-section-post {
    background-size: cover;
  }

  .sportsmagazine-section-post-text {
    width: 70%;
  }

  .sportsmagazine-partner-slider .slick-arrow-left.slick-arrow,
  .sportsmagazine-partner-slider .slick-arrow {
    top: 27px;
  }

  .sportsmagazine-latest-result {
    text-align: center;
  }

  .sportsmagazine-result-text,
  .sportsmagazine-next-game-text {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-latest-result {
    margin: 0px 0px 30px;
  }

  .game-countdown-heading {
    padding: 14px 150px;
  }

  .sportsmagazine-blog.sportsmagazine-blog-medium>ul>li {
    width: 100%;
  }

  .sportsmagazine-blogmedium-text {
    padding: 35px 75px 22px 20px;
  }

  .sportsmagazine-footer-two {
    background-size: cover;
  }

  .sportsmagazine-partner-slider .slick-arrow {
    right: -24px;
  }

  .sportsmagazine-partner-slider .slick-arrow-left.slick-arrow {
    left: -24px;
    z-index: 1;
  }

  .sportsmagazine-header-one .navbar {
    float: left;
  }

  .sportsmagazine-header-one .navbar-collapse {
    right: -180px;
  }

  .sportsmagazine-error-wrap form {
    width: 92%;
  }

  .sportsmagazine-copyright-left {
    float: left;
  }

  .sportsmagazine-account-tabs .nav-tabs li a {
    padding: 19px 15px;
  }

  .sportsmagazine-thumb-text h2 {
    width: 86%;
    font-size: 32px;
    line-height: 37px;
    margin: 0px 0px 10px;
  }

  .sportsmagazine-contact-form form p input[type="text"] {
    width: 86%;
  }

  .sportsmagazine-contact-form form ul li p:before,
  .sportsmagazine-contact-form form ul li p:after {
    right: 15%;
  }

  .sportsmagazine-team-two {
    float: right;
  }

  .widget_matches ul li {
    text-align: center;
  }

  .widget_matches ul li>span {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-right-section {
    width: 55%;
  }

  .sportsmagazine-bloglarge-text {
    padding: 21px 26px 15px;
  }

  .sportsmagazine-first-team {
    padding: 28px 0px 29px 10px;
    margin: 0px;
  }

  .sportsmagazine-second-team {
    padding: 28px 10px 29px 0px;
  }

  .sportsmagazine-first-team:before {
    border-right: 75px solid transparent;
    right: -75px;
  }

  .sportsmagazine-second-team:before {
    border-left: 75px solid transparent;
    left: -75px;
  }

  .sportsmagazine-match-view h5 {
    padding: 8px 14px 8px 15px;
  }

  .sportsmagazine-match-view {
    position: relative;
    z-index: 1;
  }

  .sportsmagazine-buy-ticket {
    padding: 12px 14px 13px 22px;
    text-align: center;
  }

  .sportsmagazine-match-info li {
    margin: 0 15px 10px 0;
  }

  .sportsmagazine-fixture ul li {
    float: left;
  }

  .sportsmagazine-classic-match-text {
    display: inline-block;
    float: none;
  }

  .sportsmagazine-classic-fixture-wrap {
    text-align: center;
  }

  .sportsmagazine-fixture.sportsmagazine-classic-fixture ul li {
    width: 100%;
  }

  .sportsmagazine-modren-fixture-text {
    text-align: center;
  }

  .sportsmagazine-modren-match-text {
    display: inline-block;
    float: none;
    padding: 0px;
  }

  .sportsmagazine-fixture.sportsmagazine-modren-fixture ul li {
    width: 100%;
  }

  .sportsmagazine-modren-fixture-text {
    text-align: center;
  }

  .sportsmagazine-modren-match-text {
    display: inline-block;
    float: none;
    padding: 0px;
  }

  .sportsmagazine-fixture.sportsmagazine-modren-fixture ul li {
    width: 100%;
  }

  .sportsmagazine-offstanding-text li {
    width: 33.333%;
  }

  .sportsmagazine-playoff-staning .sportsmagazine-client-detail tr>th,
  .sportsmagazine-playoff-staning .sportsmagazine-client-detail tr>td {
    float: left;
    padding: 20px 0px;
    width: 20%;
  }

  .sportsmagazine-overview-team-two {
    float: right;
    padding: 94px 0 29px 10px;
  }

  .sportsmagazine-overview {
    padding: 44px 20px 15px;
  }

  .sportsmagazine-overview-team-one {
    padding: 90px 10px 29px 0px;
  }

  .sportsmagazine-overview-scorecard {
    margin: 0px 3px 30px;
  }

  .sportsmagazine-gamestats-btn {
    margin: 0px 0px 30px;
  }

  .sportsmagazine-team-leader-section {
    padding: 0px 10px 0px 0px;
  }

  .sportsmagazine-team-leader-section.sportsmagazine-team-leader-sectiontwo {
    padding: 0px 0px 0px 10px;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-buy-ticket {
    width: 30%;
    padding: 12px 10px 0px;
    text-align: center;
  }

  .sportsmagazine-buy-ticket-text {
    margin: 0px 0px 5px;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-teams-match {
    width: 70%;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-fixture-wrap:before {
    right: 29%;
  }

  .ticket-buy-btn {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-player-info li {
    width: 50%;
  }

  .sportsmagazine-player-grid figure span:before {
    border-right: 13px solid transparent;
    margin: 0px 0px 0px -14px;
  }

  .sportsmagazine-player-grid figure span:after {
    border-left: 12px solid transparent;
    margin: 0px -14px 0px 0px;
  }

  .sportsmagazine-blog-social ul li a {
    margin: -1px 0px 0px;
    padding: 4px 16px 0 0;
  }

  .sportsmagazine-client-detail tr>td {
    padding: 14px 27px 10px 22px;
  }

  .sportsmagazine-player-list-text p {
    width: 77%;
  }

  .sportsmagazine-roster-graph .sportsmagazine-client-detail tr>td,
  .sportsmagazine-roster-graph .sportsmagazine-client-detail tr>th {
    padding: 12px 10px;
  }

  .sportsmagazine-form-result form {
    width: 94%;
  }

  .star-rating-box:before {
    left: 29px;
  }

  .sportsmagazine-shop-grid figure .star-rating .star-rating-box:before {
    left: 42px;
  }

  .sportsmagazine-shop-list-text p {
    margin: 0px 0px 5px;
  }

  .sportsmagazine-shop-list-text {
    padding: 12px 0 23px 30px;
  }

  .player-stats-text .star-rating-box:before {
    left: -1px;
  }

  .sportsmagazine-wishlist-graph ul li {
    padding: 0 15px 11px;
  }

  .sportsmagazine-wishlist-graph ul.wishlist-graph li {
    padding: 30px 10px;
  }

  .sportsmagazine-wishlist-graph ul.wishlist-graph li:first-child,
  .sportsmagazine-wishlist-graph ul li:first-child {
    padding: 0 0 0 15px;
  }

  .sportsmagazine-wishlist-graph .star-rating {
    width: 109%;
  }

  .sportsmagazine-wishlist-graph .star-rating-box:before {
    left: -3px;
  }

  .sportsmagazine-contact-text p,
  .sportsmagazine-contact-text a {
    width: 100%;
  }

  .sportsmagazine-search-box input[type="text"] {
    font-size: 55px;
  }

  .sportsmagazine-search-box i {
    font-size: 46px;
  }

  .sportsmagazine-user-link li:first-child {
    margin-left: 0px;
  }

  .sportsmagazine-testimonial-text::after {
    width: 69%;
  }

  .sportsmagazine-classic-team-one {
    padding: 70px 50px 69px;
  }

  .sportsmagazine-classic-team-two {
    padding: 70px 30px 69px;
  }

  .sportsmagazine-dropdown-menu .sportsmagazine-dropdown-menu {
    left: 0px;
  }

  .sportsmagazine-header-two .sportsmagazine-dropdown-menu {
    width: 100%;
  }



  /* Main Grid */
  .sportsmagazine-main-content .col-md-4,
  .sportsmagazine-main-content .col-md-3 {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 50%;
  }

  .sportsmagazine-main-content .col-md-7,
  .sportsmagazine-main-content .col-md-5 {
    width: 100%;
    float: left;
    margin-bottom: 30px;
  }

  .col-md-12 {
    float: left;
    width: 100%;
  }

  .search-wrap input {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 24px;
  }

  .inp-wrap {
    width: 100%
  }

  .submit-wrap button {
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%
  }
}

/* Media 420Px Start */
@media (max-width: 767px) {
  .navbar {
    position: relative;
    float: right;
  }

  .navbar-toggle {
    display: block;
    background-color: #eee;
    margin: 30px 30px 25px 0px;
  }

  .navbar-collapse {
    padding: 0px 0px 0px 0px;
    width: 260px;
    background-color: #272727;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.10);
    border: none;
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: 9999;
    margin: 10px 0px 0px 0px;
  }

  #sportsmagazine-header .collapse {
    display: none;
  }

  #sportsmagazine-header .collapse.in {
    display: block;
  }

  .sportsmagazine-thumbnail {
    margin-bottom: 0px;
  }

  .navbar-nav>li:first-child>a {
    padding-left: 22px;
  }

  .navbar-nav {
    margin: 0px;
  }

  .navbar-nav>li>a:before,
  .navbar-nav>li>a:after {
    display: none;
  }

  .sportsmagazine-dropdown-menu {
    float: left;
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
  }

  .sportsmagazine-dropdown-menu,
  .sportsmagazine-megamenu {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  .sportsmagazine-header-two .sportsmagazine-dropdown-menu {
    width: 100%;
  }

  .sportsmagazine-megamenu {
    float: left;
    min-width: 100%;
    position: relative;
    right: auto;
    top: auto;
    padding: 20px 8px 5px 8px;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
  }

  .sportsmagazine-megamenu [class*="col-md-"] {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }

  .sportsmagazine-megamenu .row {
    margin: 0px;
  }

  .navbar-nav>li>a {
    float: left;
    width: 100%;
    padding: 20px 20px 10px 20px;
  }

  .navbar-nav>li {
    width: 100%;
    padding: 20px 0px;
  }

  /* Main Grid */
  .sportsmagazine-main-content .col-md-4,
  .sportsmagazine-main-content .col-md-3 {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 50%;
  }

  .sportsmagazine-main-content .col-md-7,
  .sportsmagazine-main-content .col-md-5 {
    width: 100%;
    float: left;
    margin-bottom: 30px;
  }

  .col-md-12 {
    float: left;
    width: 100%;
  }


  /* Header */
  .sportsmagazine-top-strip {
    text-align: center;
  }

  .sportsmagazine-top-strip [class*="col-md-"] {
    display: inline-block;
  }

  .sportsmagazine-strip-social li {
    margin-top: 0px;
  }

  /* Header two */
  .sportsmagazine-logo-two {
    width: 100%;
    text-align: center;
    margin: 30px 0 20px;
  }

  .header-info li {
    width: 50%;
  }

  .sportsmagazine-header-two .navbar-default {
    background-color: transparent;
  }

  .sportsmagazine-header-two .navbar-nav>li {
    padding: 0px;
  }

  .sportsmagazine-banner-two .slick-dots {
    bottom: 7px;
  }

  .sportsmagazine-header-two .navbar-default {
    padding: 0px;
    width: auto;
  }

  /* Banner*/
  .sportsmagazine-banner-caption {
    display: none;
  }

  /* Content */
  .sportsmagazine-social-network,
  .sportsmagazine-user-section {
    width: 100%;
    text-align: center;
    margin: 0px 0px 15px;
  }

  .sportsmagazine-logo {
    margin: 0px;
    text-align: center;
    width: 100%;
  }

  .sportsmagazine-social-network li,
  .sportsmagazine-user-section>li {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-logo:before {
    width: 100%;
    height: 3px;
    top: auto;
    right: 0px;
    bottom: 0px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  .sportsmagazine-match-result {
    background-size: cover;
    background-position: center;
  }

  .sportsmagazine-right-section {
    width: 100%;
    float: left;
    text-align: center;
  }

  .sportsmagazine-search-btn {
    padding: 0px;
    float: none;
    display: inline-block;
    -webkit-transform: translateY(-37px);
    -moz-transform: translateY(-37px);
    -ms-transform: translateY(-37px);
    -o-transform: translateY(-37px);
    transform: translateY(-37px);
  }

  .sportsmagazine-featured-caption {
    width: 100%;
    padding: 0 0 25px 30px;
  }

  .sportsmagazine-featured-caption h2 {
    font-size: 18px;
  }

  .sportsmagazine-blog>ul>li {
    float: left;
  }

  .sportsmagazine-blog-list {
    margin: 0px 0px 30px;
  }

  .sportsmagazine-addbanner-caption {
    width: 80%;
    padding: 35px 0 0 60px;
  }

  .sportsmagazine-addbanner-caption h2 {
    font-size: 18px;
    margin: 0px 0px 6px;
  }

  .sportsmagazine-addbanner-caption p {
    margin: 0px 0px 12px;
    line-height: 20px;
  }

  .sportsmagazine-add-banner:before {
    height: 150px;
    right: 30px;
  }

  .sportsmagazine-add-banner:after {
    width: 150px;
    bottom: 30px;
  }

  .sportsmagazine-player-slider-nav {
    width: 94%;
    float: right;
  }

  .sportsmagazine-player-slider-image {
    width: 100%;
    border: none;
  }

  .sportsmagazine-fixture-slider-layer ul li.first-child:before,
  .sportsmagazine-fixture-slider-layer ul:before {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }

  .ranking-content-table {
    padding: 0px;
  }

  .widget_trending_news>.nav-tabs>li {
    float: left;
  }

  .sportsmagazine-footer-widget .widget {
    float: left;
    width: 100%;
  }

  .sportsmagazine-user-section>li {
    margin: 0 13px 10px 0;
  }

  .sportsmagazine-add-banner figcaption:before {
    height: 150px;
    left: 30px;
  }

  .sportsmagazine-add-banner figcaption:after {
    width: 150px;
    top: 30px;
  }

  .sportsmagazine-player-slider-image:before {
    display: none;
  }

  .sportsmagazine-fixture-gallery ul li {
    width: 50%;
  }

  .sportsmagazine-main-content aside.col-md-4 {
    width: 100%;
  }

  .sportsmagazine-blog-medium figure {
    width: 100%;
  }

  .sportsmagazine-blog-medium figure~.sportsmagazine-blogmedium-text {
    margin: 0px;
  }

  .sportsmagazine-blogmedium-text {
    float: left;
    width: 100%;
    padding: 30px 25px 22px;
  }

  .sportsmagazine-blog-medium figure:before {
    height: 40px;
    width: 100%;
    right: 0px;
    bottom: -16px;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  .sportsmagazine-blog-medium figure:after {
    border-top: 25px solid transparent;
    border-right: 213px solid #e7e7e7;
    border-bottom: 25px solid transparent;
    right: 0px;
    bottom: -11px;
  }

  .sportsmagazine-classic-player-info {
    top: 25px;
  }

  .sportsmagazine-fancy-title-two h2 {
    font-size: 26px;
  }

  .sportsmagazine-testimonial-text:after {
    width: 60%;
  }

  .widget-images-list .slick-arrow {
    top: -140%;
  }

  .widget-images-list .slick-arrow.slick-arrow-left {
    z-index: 1;
  }

  .header-info {
    padding: 0px;
  }

  .sportsmagazine-partner-slider .slick-arrow {
    right: 0px;
    top: 26px;
  }

  .sportsmagazine-partner-slider .slick-arrow-left.slick-arrow {
    left: 0px;
    z-index: 1;
    top: 26px;
  }

  .sportsmagazine-section-post {
    background-size: cover;
  }

  .sportsmagazine-section-post-text {
    width: 90%;
  }

  .sportsmagazine-result-one,
  .sportsmagazine-result-two {
    padding: 109px 0 55px;
  }

  .sportsmagazine-score-result {
    padding: 61px 50px 65px;
  }

  .sportsmagazine-result-text:before {
    left: -26%;
  }

  .sportsmagazine-latest-result {
    margin: 0px 0px 30px;
  }

  .sportsmagazine-next-game .sportsmagazine-result-one {
    padding: 0 15px;
    margin: 0 10px 28px 0;
  }

  .sportsmagazine-next-game .sportsmagazine-result-two {
    padding: 0px 15px;
  }

  .sportsmagazine-next-game-text {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-latest-result {
    text-align: center;
  }

  .sportsmagazine-result-text {
    display: inline-block;
    float: none;
  }

  .sportsmagazine-blog.sportsmagazine-blog-medium>ul>li {
    width: 50%;
  }

  .sportsmagazine-copyright-two:after,
  .sportsmagazine-copyright-two:before {
    width: 46%;
  }

  .sportsmagazine-classic-player-text {
    padding: 15px 0px;
  }

  .sportsmagazine-classic-player-info>span {
    margin: 0px;
  }

  .classic-player-option {
    margin: 0px;
  }

  .sportsmagazine-classic-player-info p {
    width: 100%;
  }

  .sportsmagazine-footer-two {
    background-size: cover;
  }

  .sportsmagazine-header-one .navbar {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-header-one .navbar-collapse {
    right: -180px;
  }

  .sportsmagazine-error-wrap form {
    width: 100%;
  }

  .sportsmagazine-error-wrap form input[type="text"] {
    width: 73%;
  }

  .sportsmagazine-error-wrap form:before,
  .sportsmagazine-error-wrap form:after {
    right: 28%;
  }

  .sportsmagazine-account-tabs .nav-tabs li a {
    padding: 19px 15px;
  }

  .sportsmagazine-account form ul li,
  .sportsmagazine-account form ul li.address {
    width: 50%;
  }

  .sportsmagazine-account form ul li:last-child {
    width: 100%;
  }

  .sportsmagazine-thumb {
    background-size: cover;
  }

  .sportsmagazine-thumb-text {
    padding: 100px 0px;
  }

  blockquote {
    padding: 53px 0 26px 62px;
  }

  .sportsmagazine-prenxt-post ul li {
    width: 100%;
    margin: 0px 0px 30px;
  }

  .sportsmagazine-prev-post:before,
  .sportsmagazine-prev-post:after {
    left: -5px;
    width: 15px;
  }

  .sportsmagazine-next-post:before,
  .sportsmagazine-next-post:after {
    right: -5px;
    width: 15px;
  }

  .sportsmagazine-prev-post:before {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  .sportsmagazine-prev-post:after {
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    transform: rotate(-9deg);
  }

  .sportsmagazine-next-post:before {
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  .sportsmagazine-next-post:after {
    -webkit-transform: rotate(11deg);
    -moz-transform: rotate(11deg);
    -ms-transform: rotate(11deg);
    -o-transform: rotate(11deg);
    transform: rotate(11deg);
  }

  .sportsmagazine-contact-form form ul li p>span {
    width: 37px;
  }

  .sportsmagazine-contact-form form ul li p:after,
  .sportsmagazine-contact-form form ul li p:before {
    right: 17%;
  }

  .sportsmagazine-contact-form form p input[type="text"] {
    width: 84%;
  }

  .sportsmagazine-contact-form form p textarea {
    width: 92%;
  }

  .sportsmagazine-contact-form form ul li.full-input p:before,
  .sportsmagazine-contact-form form ul li.full-input p:after {
    right: 10%;
  }

  .sportsmagazine-article-options {
    padding: 9px 25px 11px;
  }

  .widget_matches ul li {
    text-align: center;
  }

  .widget_matches ul li>span {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-team-two {
    float: right;
  }

  .sportsmagazine-blog-grid section {
    padding: 19px 22px 0;
  }

  .sportsmagazine-blog-grid-options {
    padding: 21px 26px 10px;
  }

  .sportsmagazine-blogmodren-text {
    padding: 34px 16px 18px 79px;
  }

  .sportsmagazine-teams-match,
  .sportsmagazine-buy-ticket {
    width: 100%;
  }

  .sportsmagazine-first-team,
  .sportsmagazine-second-team {
    width: 100%;
  }

  .sportsmagazine-first-team,
  .sportsmagazine-second-team {
    padding: 28px 0 29px;
  }

  .sportsmagazine-match-view {
    margin: 35px 0px;
    float: none;
    display: inline-block;
  }

  .sportsmagazine-fixture-wrap {
    text-align: center;
    margin: 0px;
  }

  .sportsmagazine-teams-match figure~.sportsmagazine-first-team-info,
  .sportsmagazine-teams-match figure~.sportsmagazine-second-team-info {
    display: inline-block;
    margin: 0px 0px 0px 7px;
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    -o-transform: translateY(12px);
    transform: translateY(12px);
    padding: 0px;
    text-align: center;
  }

  .sportsmagazine-first-team figure,
  .sportsmagazine-second-team figure {
    display: inline-block;
    float: none;
  }

  .sportsmagazine-first-team:before,
  .sportsmagazine-second-team:before {
    display: none;
  }

  .sportsmagazine-fixture-wrap:before {
    width: 100%;
    height: 6px;
    top: auto;
    bottom: 22%;
    right: 0px;
  }

  .sportsmagazine-buy-ticket {
    padding: 34px 27px 34px 34px;
  }

  .sportsmagazine-thumb-team-one {
    margin: 0px 0px 30px;
  }

  .sportmagazine-score-counter>span {
    margin: 0px 0px 10px;
  }

  .sportsmagazine-main-content .sportsmagazine-fixture-thumb .col-md-4 {
    width: 100%;
  }

  .sportsmagazine-blog-social ul li a i {
    margin: -4px 11px 0px 0px;
  }

  .sportsmagazine-fixture ul li {
    float: left;
  }

  .sportsmagazine-classic-match-text {
    display: inline-block;
    float: none;
    padding: 27px 0 0;
  }

  .sportsmagazine-classic-fixture-wrap {
    text-align: center;
  }

  .sportsmagazine-classic-match-text h6 {
    font-size: 13px;
  }

  .sportsmagazine-classic-team-two {
    padding: 70px 0px 69px;
  }

  .sportsmagazine-classic-team-one {
    padding: 70px 4px 69px;
  }

  .sportsmagazine-fixture.sportsmagazine-classic-fixture ul li {
    width: 100%;
  }

  .sportsmagazine-modren-fixture-text {
    text-align: center;
  }

  .sportsmagazine-modren-match-text {
    display: inline-block;
    float: none;
    padding: 0px;
  }

  .sportsmagazine-fixture.sportsmagazine-modren-fixture ul li {
    width: 100%;
  }

  .sportsmagazine-modren-team-one {
    padding: 40px 4px;
  }

  .sportsmagazine-modren-team-two {
    padding: 40px 0;
  }

  .sportsmagazine-modren-match-text h6 {
    font-size: 13px;
  }

  .sportsmagazine-offstanding-text li {
    width: 50%;
  }

  .sportsmagazine-playoff-staning .sportsmagazine-client-detail tr>th,
  .sportsmagazine-playoff-staning .sportsmagazine-client-detail tr>td {
    float: right;
    padding: 20px 0px;
    width: 16.6%;
  }

  .sportsmagazine-modern-gallery figure figcaption {
    margin: -72px 0 0;
  }

  .sportsmagazine-copyright p {
    float: left;
  }

  .sportsmagazine-overview {
    padding: 20px 10px;
  }

  .sportsmagazine-overview-wrap {
    text-align: center;
  }

  .sportsmagazine-overview-team-one figure,
  .sportsmagazine-overview-team-two figure {
    display: inline-block;
    float: none;
  }

  .sportsmagazine-overview-team-one figure~section,
  .sportsmagazine-overview-team-two figure~section {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .sportsmagazine-overview-team-one,
  .sportsmagazine-overview-team-two {
    float: left;
    width: 100%;
    padding: 0;
  }

  .sportsmagazine-overview-team-one section>span,
  .sportsmagazine-overview-team-two section>span {
    display: inline-block;
    float: none;
  }

  .sportsmagazine-overview-score {
    display: inline-block;
    float: none;
    margin: 0px 0px 30px;
  }

  .sportsmagazine-overview-team-one {
    margin: 0px 0px 30px;
  }

  .sportsmagazine-overview-player-name {
    width: 100%;
  }

  .sportsmagazine-overview-scorecard {
    margin: 0px 0px 30px;
    width: 100%;
  }

  .sportsmagazine-overview-scorecard ul {
    float: left;
    width: 100%;
  }

  .sportsmagazine-overview-scorecard li h6 {
    line-height: 1.8;
  }

  .sportsmagazine-overview-scorecard ul li {
    float: left;
    width: 20%;
    padding: 0px;
  }

  .sportsmagazine-gamestats-btn {
    margin: 0 0px 23px 0;
    padding: 12px 0px;
    width: 80%;
  }

  .sportsmagazine-overview-skillbar .skillst {
    width: 50%;
    padding: 0 10px;
  }

  .sportsmagazine-overview-skillbar {
    margin: 0px -10px;
    padding: 0px;
  }

  .sportsmagazine-roster-graph .sportsmagazine-client-detail tr>th,
  .sportsmagazine-roster-graph .sportsmagazine-client-detail tr>th:last-child,
  .sportsmagazine-overview-graph .sportsmagazine-client-detail tr>td {
    width: 30%;
    padding: 12px 20px;
  }

  .sportsmagazine-team-leader-section.sportsmagazine-team-leader-sectiontwo {
    padding: 0px;
  }

  .sportsmagazine-team-leader-section {
    padding: 0px;
    width: 100%;
  }

  .sportsmagazine-team-leader-section.sportsmagazine-team-leader-sectiontwo ul li:first-child {
    padding: 12px 29px 10px 22px;
  }

  .sportsmagazine-team-leader-section ul li:last-child {
    padding: 12px 22px 10px 29px;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-teams-match {
    width: 100%;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-match-view {
    padding: 40px 25px 40px 35px;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-fixture-wrap:before {
    left: 0px;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-buy-ticket {
    width: 100%;
    padding: 23px 20px;
  }

  .sportsmagazine-player-thumb-text {
    width: 100%;
    margin: 0px;
    padding: 42px 0 55px 0px;
  }

  .sportsmagazine-client-detail tr>th,
  .sportsmagazine-client-detail tr>td {
    float: left;
  }

  .sportsmagazine-team-ranking .sportsmagazine-client-detail tr>th,
  .sportsmagazine-team-ranking .sportsmagazine-client-detail tr>td {
    float: none;
  }

  .sportsmagazine-player-grid-text {
    padding: 15px 9px 0 30px;
  }

  .sportsmagazine-player-list figure {
    width: 100%;
  }

  .sportsmagazine-player-list figure~.sportsmagazine-player-list-text {
    margin: 0px;
  }

  .sportsmagazine-player-list-text {
    float: left;
    width: 100%;
    padding: 35px 22px 0;
  }

  .sportsmagazine-player-list-text:before {
    height: 21px;
    width: 50%;
    left: 0px;
    top: -10px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  .sportsmagazine-player-list-text:after {
    height: 21px;
    width: 50%;
    right: 0px;
    left: auto;
    bottom: auto;
    top: -10px;
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    transform: rotate(9deg);
  }

  .sportsmagazine-player-list figure:before {
    width: 50%;
    height: 6px;
    bottom: 10px;
    top: auto;
    right: 0px;
  }

  .sportsmagazine-player-list figure:after {
    width: 50%;
    height: 6px;
    bottom: 10px;
    top: auto;
    right: auto;
    left: 0;
  }

  .sportsmagazine-player-list figure a i {
    right: 50%;
    top: auto;
    bottom: 2px;
    margin: 0px -20px 0px 0px;
  }

  .sportsmagazine-player>ul>li {
    float: left;
    width: 50%;
  }

  .sportsmagazine-modern-player figure figcaption {
    width: 180px;
  }

  .sportsmagazine-form-result form {
    width: 100%;
  }

  .sportsmagazine-form-result form input[type="text"] {
    width: 75%;
  }

  .sportsmagazine-form-result form:after,
  .sportsmagazine-form-result form:before {
    right: 26%;
  }

  .sportsmagazine-shop-summery {
    width: 100%;
  }

  .sportsmagazine-shop-grid figure .star-rating .star-rating-box:before {
    left: 23px;
  }

  .sportsmagazine-shop-list figure {
    width: 100%;
  }

  .sportsmagazine-shop-list figure~.sportsmagazine-shop-list-text {
    margin: 0px;
    float: left;
    width: 100%;
  }

  .sportsmagazine-shop-list-text {
    padding: 30px 20px;
  }

  .sportsmagazine-shop-list figure:before {
    height: 30px;
    width: 51%;
    left: -1px;
    bottom: -8px;
    right: auto;
    top: auto;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  .sportsmagazine-shop-list figure:after {
    height: 30px;
    width: 51%;
    bottom: -8px;
    right: -1px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  .sportsmagazine-shop>ul>li {
    width: 50%;
  }

  .sportsmagazine-shop-list figure .star-rating .star-rating-box:before {
    left: 15px;
  }

  .sportsmagazine-shopping-cart .sportsmagazine-client-detail tr>th,
  .sportsmagazine-shopping-cart .sportsmagazine-client-detail tr>th:first-child,
  .sportsmagazine-shopping-cart .sportsmagazine-client-detail tr>td {
    padding: 12px 0px;
    width: 33.333%;
  }

  .player-stats-text .star-rating {
    width: 113%;
  }

  .sportsmagazine-shopping-cart>p input[type="text"] {
    width: 90%;
    margin: 0px 0px 20px;
  }

  .sportsmagazine-shopping-cart>p span {
    margin: 0px 0px 20px;
  }

  .sportsmagazine-wishlist-graph ul {
    float: left;
    width: 100%;
  }

  .sportsmagazine-wishlist-graph ul li:first-child,
  .sportsmagazine-wishlist-graph ul li {
    float: left;
    padding: 11px 10px;
    width: 20%;
  }

  .sportsmagazine-wishlist-graph ul.wishlist-graph li:first-child,
  .sportsmagazine-wishlist-graph ul.wishlist-graph li {
    width: 50%;
    padding: 11px 10px;
  }

  .sportsmagazine-topstrip {
    padding: 22px 0px 0px;
  }

  .loginmodal .modal-dialog {
    width: 440px;
  }

  .login-network li a {
    padding: 5px 10px;
  }

  .sportsmagazine-blog-grid figure::before {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  .sportsmagazine-search-box input[type="text"] {
    font-size: 25px;
    padding: 0 20px 24px;
  }

  .sportsmagazine-search-box i {
    font-size: 20px;
    top: 36px;
    right: 20px;
  }

  .sportsmagazine-dropdown-menu .sportsmagazine-dropdown-menu {
    left: 0px;
  }

  .sportsmagazine-sticky .sportsmagazine-main-header {
    position: static;
  }

  .sportsmagazine-sticky .sportsmagazine-header-two .navbar {
    position: static;
  }

  .sportsmagazine-sticky .sportsmagazine-logo-two,
  .sportsmagazine-sticky .header-info {
    display: block;
  }

  .sportsmagazine-sticky .sportsmagazine-header-two .sportsmagazine-main-header {
    background: #292c31;
  }

  .search-wrap input {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 24px;
  }

  .inp-wrap {
    width: 100%
  }

  .submit-wrap button {
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%
  }

}

/* Media 300Px Start */
@media (max-width: 480px) {

  /*main grid*/
  .sportsmagazine-main-content .col-md-4,
  .sportsmagazine-main-content .col-md-3,
  .sportsmagazine-main-content .col-md-6 {
    margin-right: 0px;
    width: 100%;
  }

  /*main grid*/

  .sportsmagazine-search-btn {
    padding: 21px 0 20px;
    float: right;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .navbar-toggle {
    margin: 15px 30px 30px 0px;
  }

  .sportsmagazine-add-banner:before,
  .sportsmagazine-add-banner:after,
  .sportsmagazine-add-banner figcaption:before,
  .sportsmagazine-add-banner figcaption:after {
    content: none;
  }

  .sportsmagazine-fixture-gallery ul li {
    width: 100%;
  }

  .sportsmagazine-player-slider-caption {
    width: 86%;
  }

  .sportsmagazine-player-slider-caption span~section {
    margin-left: 100px;
  }

  .sportsmagazine-player-slider-image:before {
    display: block;
    top: auto;
    bottom: 0px;
    border-left: 40px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffdc11;
    z-index: 1;
    left: 35px;
    right: auto;
  }

  .widget_trending_news .nav-tabs {
    padding: 0px 12px;
  }

  .widget_trending_news .nav-tabs li {
    padding: 0px 5px;
  }

  .sportsmagazine-info-list li span {
    padding: 10px 10px 9px 8px;
    font-size: 12px;
  }

  .widget_gallery ul li {
    width: 33.333%;
  }

  .sportsmagazine-copyright {
    text-align: center;
  }

  .sportsmagazine-copyright-link {
    float: none;
    display: inline-block;
    margin: 0px 0px 17px;
  }

  .sportsmagazine-copyright-link li:before {
    left: 0px;
  }

  .sportsmagazine-copyright-link li {
    margin: 0px;
    padding: 0px 10px;
  }

  .sportsmagazine-user-section>li {
    margin: 0 30px 10px 0;
  }

  .sportsmagazine-logo {
    margin: 0px 0px 15px;
  }

  .sportsmagazine-match-result ul li {
    padding-bottom: 30px;
    width: 100%;
  }

  .sportsmagazine-match-result ul li.sportsmagazine-match-score {
    padding: 0px 0px 30px;
    width: 100%;
  }

  .sportsmagazine-blog-grid-options {
    padding: 21px 15px 10px;
  }

  .sportsmagazine-addbanner-caption {
    width: 100%;
    padding: 5px 0px 0px 15px;
  }

  .sportsmagazine-addbanner-caption h2 {
    font-size: 18px;
    margin: 0px 0px 6px;
  }

  .sportsmagazine-addbanner-caption p {
    font-size: 10px;
    margin: 0px;
  }

  .sportsmagazine-add-banner:before {
    height: 65px;
    right: 30px;
  }

  .sportsmagazine-add-banner:after {
    width: 65px;
  }

  .sportsmagazine-player-slider-nav:before {
    content: none;
  }

  .sportsmagazine-fixture-slider-layer ul li.first-child:before,
  .sportsmagazine-fixture-slider-layer ul:before {
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
  }

  .sportsmagazine-match-fixture .sportsmagazine-client-detail tr>td {
    float: left;
    width: 50%;
    padding: 15px 10px 15px 10px;
    line-height: 2.3;
  }

  .sportsmagazine-team-ranking .sportsmagazine-client-detail tr>td {
    padding: 15px 9px 15px 7px;
    width: auto;
  }

  .sportsmagazine-section-post-text {
    width: 100%;
  }

  .sportsmagazine-section-post-text p {
    width: 100%;
  }

  .sportsmagazine-section-post-text h3 {
    font-size: 22px;
  }

  .game-countdown-heading {
    padding: 14px 30px;
  }

  .sportsmagazine-next-game .sportsmagazine-result-one {
    width: 100%;
    margin: 0px 0px 28px;
  }

  .sportsmagazine-next-game-text {
    display: inline-block;
    float: none;
    margin: 0px 0px 28px;
  }

  .sportsmagazine-result-one.sportsmagazine-result-two {
    width: 100%;
    padding: 0px 0px 20px;
  }

  .sportsmagazine-result-text {
    width: 100%;
  }

  .sportsmagazine-result-text:before {
    left: -3px;
  }

  .sportsmagazine-result-one {
    width: 100%;
    padding: 20px 0px;
  }

  .sportsmagazine-latest-result {
    margin: 0px 0px 30px;
  }

  .sportsmagazine-copyright-two:before,
  .sportsmagazine-copyright-two:after {
    width: 42%;
  }

  .sportsmagazine-copyright-two p {
    display: inline-block;
    float: none;
    margin: 0px 0px 20px;
  }

  .sportsmagazine-copyright-two {
    text-align: center;
  }

  .sportsmagazine-footer-social {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-footer-two:before,
  .sportsmagazine-footer-two:after {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  .sportsmagazine-footer-two {
    background-size: cover;
  }

  .header-info li {
    width: 100%;
  }

  .header-info {
    padding-left: 48px;
  }

  .sportsmagazine-partner-slider .slick-arrow {
    top: 33px;
  }

  .sportsmagazine-partner-slider .slick-arrow-left.slick-arrow {
    top: 34px;
  }

  .sportsmagazine-result-text:before {
    border-left: 147px solid transparent;
    border-right: 147px solid transparent;
  }

  .sportsmagazine-blog.sportsmagazine-blog-medium>ul>li {
    width: 100%;
  }

  .sportsmagazine-blogmedium-text {
    padding: 20px 40px 22px 35px;
  }

  .sportsmagazine-blog-medium figure:after {
    bottom: -8px;
  }

  .sportsmagazine-testimonial-text:after {
    width: 63%;
  }

  .sportsmagazine-footer-widget .widget {
    width: 100%;
  }

  .sportsmagazine-classic-player-info {
    top: 33px;
  }

  .widget-images-list .slick-arrow {
    top: -83%;
  }

  .sportsmagazine-header-one .navbar {
    float: left;
  }

  .sportsmagazine-header-one .navbar-collapse {
    right: -180px;
  }

  .sportsmagazine-error-wrap form:before,
  .sportsmagazine-error-wrap form:after {
    display: none;
  }

  .sportsmagazine-error-wrap form input[type="text"] {
    width: 100%;
    margin: 0px 0px 20px;
    border: 1px solid #ececec;
  }

  .sportsmagazine-account-tabs .nav-tabs li {
    width: 100%;
  }

  .sportsmagazine-upload-photo section label {
    margin: 12px 0px 0px;
  }

  .sportsmagazine-account form ul li,
  .sportsmagazine-account form ul li.address {
    width: 100%;
  }

  .sportsmagazine-tags,
  .sportsmagazine-blog-social {
    width: 100%;
    margin: 0px 0px 12px;
  }

  .sportsmagazine-contact-form form ul li {
    width: 100%;
  }

  .sportsmagazine-contact-form form p input[type="text"] {
    width: 82%;
  }

  .sportsmagazine-contact-form form ul li p:before,
  .sportsmagazine-contact-form form ul li p:after {
    right: 19%;
  }

  .sportsmagazine-contact-form form p textarea {
    width: 82%;
  }

  .sportsmagazine-contact-form form ul li.full-input p:before,
  .sportsmagazine-contact-form form ul li.full-input p:after {
    right: 21%;
  }

  .sportsmagazine-prev-post:before,
  .sportsmagazine-prev-post:after {
    left: -5px;
    width: 15px;
  }

  .sportsmagazine-next-post:before,
  .sportsmagazine-next-post:after {
    right: -5px;
    width: 15px;
  }

  .sportsmagazine-prev-post:before {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  .sportsmagazine-prev-post:after {
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    transform: rotate(-9deg);
  }

  .sportsmagazine-next-post:before {
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  .sportsmagazine-next-post:after {
    -webkit-transform: rotate(11deg);
    -moz-transform: rotate(11deg);
    -ms-transform: rotate(11deg);
    -o-transform: rotate(11deg);
    transform: rotate(11deg);
  }

  .sportsmagazine-team-two {
    float: right;
  }

  .widget_matches ul li {
    text-align: center;
  }

  .widget_matches ul li>span {
    float: none;
    display: inline-block;
  }

  .sportsmagazine-contact-form form ul li p>span {
    width: 45px;
  }

  .sportsmagazine-article-options {
    padding: 9px 30px 11px;
  }

  .sportsmagazine-blog-grid section {
    padding: 19px 30px 0;
  }

  .sportsmagazine-blogmodren-text {
    padding: 34px 25px 18px 87px;
  }

  .sportsmagazine-contact-us-text {
    margin: 0px 0px 20px;
  }

  .sportsmagazine-buy-ticket-text,
  .ticket-buy-btn {
    display: inline-block;
    float: none;
  }

  .sportsmagazine-fixture-wrap:before {
    bottom: 27%;
  }

  .sportsmagazine-classic-team-one {
    width: 100%;
    padding-top: 30px 26px 69px;
  }

  .sportsmagazine-classic-team-one:after {
    border-bottom: 55px solid #f5f5f5;
    border-left: 120px solid transparent;
  }

  .sportsmagazine-classic-team-one:before {
    border-bottom: 55px solid #f5f5f5;
    border-right: 120px solid transparent;
    left: 0px;
    bottom: 0px;
    right: auto;
    top: auto;
    border-left: none;
    border-top: none;
  }

  .sportsmagazine-classic-match-text {
    width: 100%;
    margin: 0px 0px 30px;
  }

  .sportsmagazine-classic-team-two {
    width: 100%;
    padding-bottom: 70px 16px 30px;
  }

  .sportsmagazine-classic-team-two:after {
    border-top: 55px solid #f5f5f5;
    border-left: 120px solid transparent;
    right: 0px;
    left: auto;
    top: 0;
    bottom: auto;
    border-bottom: none;
    border-right: none;
  }

  .sportsmagazine-classic-team-two:before {
    border-right: 120px solid transparent;
    border-top: 55px solid #f5f5f5;
  }

  .sportsmagazine-classic-match-text h6,
  .sportsmagazine-modren-match-text h6 {
    font-size: 14px;
  }

  .sportsmagazine-modren-fixture-wrap {
    padding: 15px 0px;
  }

  .sportsmagazine-modren-fixture-text {
    padding: 0px 20px 20px;
  }

  .sportsmagazine-modren-team-one {
    width: 100%;
    margin: -15px 0px 30px;
    padding: 40px 25px 50px 26px;
  }

  .sportsmagazine-modren-team-one:after {
    border-bottom: 55px solid #ffdc11;
    border-left: 100px solid transparent;
  }

  .sportsmagazine-modren-team-one:before {
    border-bottom: 55px solid #ffdc11;
    border-right: 100px solid transparent;
    left: 0px;
    bottom: 0px;
    right: auto;
    top: auto;
    border-left: none;
    border-top: none;
  }

  .sportsmagazine-modren-team-one>span {
    height: auto;
    width: 100%;
  }

  .sportsmagazine-modren-team-one>span:before {
    left: -15px;
    top: 0;
  }

  .sportsmagazine-modren-team-one>span:after {
    bottom: auto;
    top: 0;
    left: auto;
    right: -15px;
    border-bottom: 15px solid #27282a;
    border-right: 15px solid transparent;
    border-left: none;
    border-top: none;
  }

  .sportsmagazine-modren-match-text {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 30px;
  }

  .sportsmagazine-modren-team-two {
    width: 100%;
    margin: 0px 0px -35px;
    padding: 40px 17px 40px 16px;
  }

  .sportsmagazine-modren-team-two:after {
    border-top: 55px solid #ffdc11;
    border-left: 100px solid transparent;
    right: 0px;
    left: auto;
    top: 0;
    bottom: auto;
    border-bottom: none;
    border-right: none;
  }

  .sportsmagazine-modren-team-two:before {
    border-right: 100px solid transparent;
    border-top: 55px solid #ffdc11;
  }

  .sportsmagazine-modren-team-two>span {
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0px;
  }

  .sportsmagazine-modren-team-two>span:after {
    right: -15px;
    bottom: 0px;
  }

  .sportsmagazine-modren-team-two>span:before {
    left: -15px;
    right: auto;
    bottom: 0px;
    top: auto;
    border-top: 15px solid #27282a;
    border-left: 15px solid transparent;
    border-bottom: none;
    border-right: none;
  }

  .sportsmagazine-offstanding-text li {
    width: 100%;
  }

  .sportsmagazine-modern-gallery figure figcaption {
    margin: -49px 0 0;
  }

  .sportsmagazine-copyright p {
    display: inline-block;
    float: none;
  }

  .sportsmagazine-login-form,
  .sportsmagazine-register-form.sportsmagazine-login-form {
    padding: 31px 12px 25px;
  }

  .sportsmagazine-login-form h4:before {
    width: 100%;
  }

  .sportsmagazine-overview-scorecard ul li {
    width: 25%;
  }

  .sportsmagazine-gamestats-btn {
    margin: 0 0px 23px 0;
    padding: 12px 0px;
    width: 100%;
  }

  .sportsmagazine-overview-skillbar .skillst {
    width: 100%;
    padding: 0px;
  }

  .sportsmagazine-overview-skillbar {
    margin: 0px;
  }

  .sportsmagazine-roster-graph .sportsmagazine-client-detail tr>th,
  .sportsmagazine-roster-graph .sportsmagazine-client-detail tr>th:last-child {
    width: 40%;
    float: left;
    padding: 10px 0px;
  }

  .sportsmagazine-overview-graph .sportsmagazine-client-detail tr>td {
    padding: 10px 0px;
    float: left;
    width: 33.333%;
  }

  .sportsmagazine-team-leader-section ul {
    float: left;
    width: 100%;
  }

  .sportsmagazine-team-leader-section ul li {
    float: left;
    padding: 12px 0px;
    width: 50%;
    text-align: center;
  }

  .sportsmagazine-team-leader-section.sportsmagazine-team-leader-sectiontwo ul li {
    padding: 12px 0px;
  }

  .sportsmagazine-team-leader-section.sportsmagazine-team-leader-sectiontwo ul li:first-child {
    padding: 12px 0;
  }

  .sportsmagazine-player-info li {
    width: 50%;
  }

  .sportsmagazine-client-detail tr>th,
  .sportsmagazine-client-detail tr>td {
    width: 50%;
  }

  .sportsmagazine-player-grid figure span:before {
    margin: 0px 0px 0px -12px;
  }

  .sportsmagazine-player-grid figure span:after {
    margin: 0px -12px 0px 0px;
  }

  .sportsmagazine-player-grid-text {
    padding: 15px 12px 0px 30px;
  }

  .sportsmagazine-player>ul>li {
    width: 100%;
  }

  .sportsmagazine-player-list-text {
    padding: 35px 30px 0;
  }

  .sportsmagazine-modern-player figure figcaption {
    width: 200px;
  }

  .sportsmagazine-form-result form input[type="text"] {
    width: 100%;
    border: 1px solid #ececec;
  }

  .sportsmagazine-form-result form:before,
  .sportsmagazine-form-result form:after {
    display: none;
  }

  .sportsmagazine-form-result h2 {
    font-size: 26px;
    padding: 12px 13px;
  }

  .sportsmagazine-form-result h2:before {
    border-left: 141px solid transparent;
    border-right: 141px solid transparent;
  }

  .star-rating {
    width: 30%;
  }

  .star-rating-box:before {
    left: 0px;
  }

  .sportsmagazine-summery-option>li:last-child {
    margin-right: 0px;
  }

  .sportsmagazine-summery-option>li {
    margin: 0 25px 10px 0;
  }

  .sportsmagazine-shop-tabs .nav-tabs li {
    margin: 0px 5px 10px 0px;
  }

  .sportsmagazine-shop-grid figure .star-rating .star-rating-box:before {
    left: 28px;
  }

  .sportsmagazine-shop>ul>li {
    width: 100%;
  }

  .sportsmagazine-shopping-cart p {
    padding: 23px 10px 22px;
  }

  .player-stats-text .star-rating-box:before {
    left: -5px;
  }

  .sportsmagazine-shopping-cart-total>span .cart-checkout-btn {
    padding: 13px 60px 12px;
  }

  .player-stats-text .star-rating {
    width: 93%;
  }

  .sportsmagazine-shopping-cart>p input[type="text"] {
    width: 100%;
  }

  .sportsmagazine-wishlist-graph ul li {
    width: 50%;
  }

  .sportsmagazine-wishlist-graph ul.wishlist-graph li:first-child {
    padding: 11px 10px;
    width: 100%;
  }

  .sportsmagazine-wishlist-graph ul.wishlist-graph li {
    width: 100%;
    padding: 11px 10px;
  }

  .sportsmagazine-wishlist-graph .star-rating-box:before {
    left: 9px;
  }

  .sportsmagazine-account-tabs .nav-tabs li.active a:before {
    z-index: 1;
  }

  .sportsmagazine-team-ranking .sportsmagazine-client-detail tr>th {
    padding: 15px 13px 15px 30px;
  }

  .sportsmagazine-client-detail tr {
    float: left;
    width: 100%;
  }

  .sportsmagazine-team-ranking .sportsmagazine-client-detail tr>th,
  .sportsmagazine-team-ranking .sportsmagazine-client-detail tr>td {
    float: left;
  }

  .sportsmagazine-shopping-cart .sportsmagazine-client-detail tr>th,
  .sportsmagazine-shopping-cart .sportsmagazine-client-detail tr>th:first-child,
  .sportsmagazine-shopping-cart .sportsmagazine-client-detail tr>td {
    padding: 12px 0px;
    width: 50%;
  }

  .sportsmagazine-featured-caption h2,
  .sportsmagazine-addbanner-caption .sportsmagazine-banner-btn {
    display: none;
  }

  .sportsmagazine-search-box input[type="text"],
  .sportsmagazine-search-box i {
    font-size: 20px;
  }

  .sportsmagazine-search-box i {
    top: 33px;
  }

  .sportsmagazine-search-box input[type="text"] {
    height: 88px;
    padding: 0px 0px 0px 13px;
  }

  .sportsmagazine-player-slider-nav::after {
    display: none;
  }

  .sportsmagazine-player-slider-nav {
    width: 100%;
  }

  .loginmodal .modal-dialog {
    margin: 30px 0px 0px 20px;
    width: 85%;
  }

  .sportsmagazine-login-box {
    padding: 31px 20px 33px;
  }

  .login-network li a {
    padding: 5px 8px;
  }

  .login-network li {
    width: 50%;
  }

  .sportsmagazine-wishlist-graph ul li:first-child,
  .sportsmagazine-wishlist-graph ul li {
    width: 50%;
  }

  .search-wrap input {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 24px;
  }

  .inp-wrap {
    width: 100%
  }

  .submit-wrap button {
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%
  }

}

/* Media 940Px Start */
@media screen and (min-width: 991px) and (max-width: 1054px) {
  .sportsmagazine-dropdown-menu {
    width: 200px;
    left: -8px;
  }

  .sportsmagazine-fixture-slider-layer ul:before,
  .sportsmagazine-fixture-slider-layer ul li.first-child:before {
    border-left: 66px solid transparent;
    border-right: 66px solid transparent;
  }

  .sportsmagazine-match-result {
    background-position: center;
  }

  .sportsmagazine-blog-grid-options {
    padding: 21px 17px 10px;
  }

  .sportsmagazine-blog-list-wrap {
    padding: 19px 18px;
  }

  .sportsmagazine-blog-grid section {
    padding: 19px 25px 0;
  }

  .widget_trending_news .nav-tabs li {
    padding: 0px 9px;
  }

  .widget_trending_news .nav-tabs {
    padding: 0px 2px;
  }

  .sportsmagazine-addbanner-caption {
    padding: 50px 0 0 60px;
    width: 80%;
  }

  .sportsmagazine-add-banner:before {
    right: 35px;
    height: 200px;
  }

  .sportsmagazine-add-banner:after {
    width: 200px;
    bottom: 30px;
  }

  .sportsmagazine-add-banner figcaption:before {
    height: 200px;
    left: 30px;
  }

  .sportsmagazine-add-banner figcaption:after {
    width: 200px;
    top: 30px;
  }

  .sportsmagazine-player-slider-caption {
    width: 70%;
  }

  .sportsmagazine-fixture-gallery figure figcaption h6 {
    padding: 0px 20px;
  }

  .ranking-content-table img~.ranking-logo {
    margin-left: 36px;
  }

  .ranking-content-table li {
    padding: 16px 10px 12px;
  }

  .navbar-nav>li {
    padding: 48px 20px 47px;
  }

  .sportsmagazine-header-two .navbar-nav>li {
    padding: 19px 20px;
  }

  .sportsmagazine-banner-two-wrap {
    width: 61%;
  }

  .sportsmagazine-banner-text {
    padding: 15px 0 20px;
  }

  .sportsmagazine-banner-text h1 {
    margin: 0px 0px 15px;
  }

  .sportsmagazine-banner-two .sportsmagazine-banner-caption {
    margin: 0px 0px -147px;
  }

  .sportsmagazine-banner-two-thumb {
    width: 40%;
  }

  .sportsmagazine-partner-slider .slick-arrow {
    right: -41px;
    top: 27px;
  }

  .sportsmagazine-partner-slider .slick-arrow-left.slick-arrow {
    left: -40px;
    top: 27px;
  }

  .sportsmagazine-section-post-text {
    width: 60%;
  }

  .sportsmagazine-score-result {
    padding: 61px 54px 65px;
  }

  .sportsmagazine-result-one {
    padding: 109px 0 55px 0px;
  }

  .sportsmagazine-result-two {
    padding: 109px 0px 55px 0;
  }

  .sportsmagazine-result-text:before {
    left: -54px;
  }

  .sportsmagazine-next-game .sportsmagazine-result-one {
    margin: 0 0px 28px 0;
    padding: 0px 19px
  }

  .sportsmagazine-next-game .sportsmagazine-result-two {
    padding: 0px 19px;
  }

  .sportsmagazine-banner-two .slick-dots {
    bottom: 0px;
  }

  .sportsmagazine-match-fixture .sportsmagazine-client-detail tr>td {
    padding: 15px 10px 15px 10px;
  }

  .sportsmagazine-blog-medium figure {
    width: 250px;
  }

  .sportsmagazine-blog-medium figure~.sportsmagazine-blogmedium-text {
    margin: 0px 0px 0px 250px;
  }

  .sportsmagazine-blogmedium-text {
    padding: 35px 0 5px 6px;
  }

  .sportsmagazine-blogmedium-option li {
    margin: 0px 7px 0px 0px;
  }

  .sportsmagazine-blogmedium-social {
    padding: 10px 0px 0px;
  }

  .sportsmagazine-classic-player-info {
    top: 30px;
  }

  .sportsmagazine-testimonial-text:after {
    width: 64%;
  }

  .sportsmagazine-error-wrap form {
    width: 71%;
  }

  .sportsmagazine-thumb-text h2 {
    width: 68%;
    font-size: 32px;
    line-height: 37px;
    margin: 0px 0px 10px;
  }

  .sportsmagazine-team-two {
    float: right;
    margin: 0px 0px 0px 10px;
  }

  .sportsmagazine-team-one {
    margin: 0 13px 0 0;
  }

  .widget_matches ul li {
    padding: 20px 0px;
  }

  .sportsmagazine-article-options {
    padding: 9px 27px 11px;
  }

  .sportsmagazine-contact-form form p input[type="text"] {
    width: 85%;
  }

  .sportsmagazine-contact-form form ul li p:after,
  .sportsmagazine-contact-form form ul li p:before {
    right: 16%;
  }

  .sportsmagazine-first-team {
    padding: 28px 26px 29px 36px;
  }

  .sportsmagazine-second-team {
    padding: 28px 32px 29px 15px;
  }

  .sportsmagazine-buy-ticket {
    padding: 34px 9px 0px 13px;
  }

  .sportsmagazine-match-info li:last-child {
    margin-right: 0px;
  }

  .widget_cetagories ul li a:after,
  .widget_cetagories ul li a:before {
    border-right: 153px solid transparent;
  }

  .sportsmagazine-match-info li {
    margin: 0 11px 10px 0;
  }

  .sportsmagazine-tags a:last-child {
    margin-right: 0px;
  }

  .sportsmagazine-blog-social ul li:first-child {
    margin-left: 0px;
  }

  .sportsmagazine-classic-match-text {
    display: inline-block;
    float: none;
    padding: 27px 0px 0px;
  }

  .sportsmagazine-classic-fixture-wrap,
  .sportsmagazine-modren-fixture-wrap {
    text-align: center;
  }

  .sportsmagazine-classic-team-one {
    padding: 70px 1px 69px;
  }

  .sportsmagazine-classic-team-two {
    padding: 70px 0 69px;
  }

  .sportsmagazine-modren-team-one {
    padding: 40px 1px;
  }

  .sportsmagazine-modren-team-two {
    padding: 40px 0px;
  }

  .sportsmagazine-modren-match-text {
    padding: 0px;
    display: inline-block;
    float: none;
  }

  .sportsmagazine-playoff-staning .sportsmagazine-client-detail tr>th,
  .sportsmagazine-playoff-staning .sportsmagazine-client-detail tr>td {
    float: left;
    padding: 20px 0px;
    width: 8%;
  }

  .sportsmagazine-offstanding-text li {
    padding: 11px 0px 10px 15px;
  }

  .sportsmagazine-overview {
    padding: 44px 10px 15px;
  }

  .sportsmagazine-overview-team-one {
    padding: 90px 10px 29px 0px;
  }

  .sportsmagazine-overview-team-two {
    float: right;
    padding: 94px 0 29px 10px;
  }

  .sportsmagazine-overview-scorecard {
    margin: 0px 2px 30px;
  }

  .sportsmagazine-gamestats-btn {
    margin: 0px 0px 23px;
  }

  .sportsmagazine-team-leader-section {
    padding: 0px 7px 0px 0px;
  }

  .sportsmagazine-team-leader-section.sportsmagazine-team-leader-sectiontwo {
    padding: 0px 0px 0px 7px;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-first-team,
  .sportsmagazine-fixture-mini-list .sportsmagazine-second-team {
    padding: 28px 10px 29px;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-teams-match {
    width: 69%;
  }

  .sportsmagazine-fixture-mini-list .sportsmagazine-buy-ticket {
    width: 31%;
    padding: 12px 10px 0px;
    text-align: center;
  }

  .sportsmagazine-client-detail tr>td {
    padding: 14px 23px 10px 24px;
  }

  .sportsmagazine-player-list figure {
    width: 237px;
  }

  .sportsmagazine-player-list figure~.sportsmagazine-player-list-text {
    margin-left: 230px;
  }

  .sportsmagazine-player-list-text {
    padding: 10px 13px 0px;
    z-index: 1;
  }

  .sportsmagazine-forword-btn {
    position: relative;
  }

  .sportsmagazine-player-list figure:before,
  .sportsmagazine-player-list figure:after {
    z-index: 2;
    right: 15px;
  }

  .sportsmagazine-player-list figure a i {
    z-index: 3;
  }

  .sportsmagazine-player-social {
    padding: 12px 0px;
  }

  .sportsmagazine-form-result form {
    width: 97%;
  }

  .star-rating-box:before {
    left: 18px;
  }

  .sportsmagazine-shop-grid figure .star-rating .star-rating-box:before {
    left: 9px;
  }

  .sportsmagazine-shop-list-text {
    padding: 12px 0 20px 30px;
  }

  .sportsmagazine-shop-list-text p {
    margin: 0px 0px 9px;
  }

  .sportsmagazine-shopping-cart .sportsmagazine-client-detail tr>th:first-child,
  .sportsmagazine-shopping-cart .sportsmagazine-client-detail tr>th {
    padding: 9px 10px 7px;
  }

  .sportsmagazine-shopping-cart-total>span .cart-checkout-btn {
    padding: 13px 0px 12px;
    width: 100%;
  }

  .sportsmagazine-shopping-cart p {
    padding: 23px 0 22px 20px;
  }

  .sportsmagazine-shopping-cart>p input[type="text"] {
    margin: 0 12px 0 0;
  }

  .sportsmagazine-shopping-cart>p span {
    margin: 6px 15px 0 0;
  }

  .sportsmagazine-wishlist-graph .star-rating {
    width: 80%;
  }

  .sportsmagazine-contact-text {
    padding: 13px 7px;
  }

  .sportsmagazine-contact-us-text li time span {
    margin: 0px 0px 0px 14px;
  }

  .player-stats-text .star-rating-box::before {
    left: -4px;
  }

  .sportsmagazine-dropdown-menu .sportsmagazine-dropdown-menu {
    left: 68%;
  }


  /*Banner*/
  .sportsmagazine-banner-wrap {
    width: 70%;
    padding: 30px 0px 0px;
  }

  .sportsmagazine-banner-thumb {
    width: 28%;
  }

  .search-wrap input {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 24px;
  }

  .inp-wrap {
    width: 100%
  }

  .submit-wrap button {
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%
  }
}
