<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> الفروع</h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a routerLink="/">الرئيسية</a></li>
                    <li> الفروع</li>
                </ul>
            </div>
            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form>
                    <p class="inp-wrap search-wrap">
                        <input type="search" class="grid-75" placeholder="بحث" [(ngModel)]="BranchName" [ngModelOptions]="{standalone: true}" /></p>
                    <p class="inp-wrap submit-wrap">
                        <button type="button" class="grid-100 btn">

                    <i class="fa fa-search"></i>
                  </button>
                    </p>
                </form>
            </section>
            <!-- //serach + filter -->

        </div>
    </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-player sportsmagazine-player-list">
        <div class="container">
            <ul class="row">
                <li class="col-md-4" *ngFor="let branch of Branches | searchfilter: 'NameA' : BranchName">
                    <div class="sportsmagazine-player-list-text" style="overflow-y:auto ; overflow-x: hidden;height:320px" id="style-3">
                        <h5><a routerLink="/branch-details/{{branch.ID}}">{{branch.NameA}}</a></h5>
                        <h6 style="color:#fff"><i style="color: #ee274f" class="fas fa-map-marker-alt"></i> {{branch.AddressA}}</h6>
                        <h6 style="color:#fff"><i style="color: #ee274f" class="fas fa-phone"></i> {{branch.Phone1}}</h6>
                        <h6 style="color:#fff"><i style="color: #ee274f" class="fas fa-fax"></i> {{branch.Fax}}</h6>
                        <h6 style="color:#fff"><i style="color: #ee274f" class="fas fa-envelope"></i> {{branch.Email}}</h6>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
