<!--// SubHeader -4 \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>قائمة بالاعبين</h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a routerLink="/">الرئيسية</a></li>
                    <li>اللاعبين</li>
                </ul>
            </div>
            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form class=" filterForm" (ngSubmit)="Filters(filterPlayers.value)" #filterPlayers="ngForm">
                    <div class="row">
                    <input type="search" class="grid-75 col-sm-6" placeholder="بحث" [(ngModel)]="PlayerName" [ngModelOptions]="{standalone: true}" style="font-size:20px" />

                    <select class="grid-80 col-sm-6" #ClubID="ngModel" ngModel name="clubid">
                         <option value="" selected>النادي</option>
                         <option *ngFor="let club of Clubs" [ngValue]="club.ID">{{club.NameA}}</option>
                    </select>
                    </div>
                    <div class="row">
                    <input type="number" class="col-sm-6" placeholder="اقل طول" ngModel #minHeight name="minHeight">
                    <input type="number" class="col-sm-6" placeholder="اعلى طول" ngModel #maxHeight name="maxHeight">
                    </div>
                    <div class="row">
                    <input type="number" class="col-sm-6" placeholder="اقل وزن" ngModel #minWeight name="minWeight">
                    <input type="number" class="col-sm-6" placeholder="اعلى وزن" ngModel #maxWeight name="maxWeight">
                    </div>
                    <div class="row">
                    <input type="number" class="col-sm-6" placeholder="اقل عمر" ngModel #minAge name="minAge">
                    <input type="number" class="col-sm-6" placeholder="اعلى عمر" ngModel #maxAge name="maxAge">
                    </div>


                    <!-- <p class="inp-wrap cat-wrap">
                <select name="search categories" id="categories" class="grid-80">
                  <option value="p1" selected>اللاعب</option>
                  <option value="p2">اللاعب</option>
                  <option value="p3">اللاعب </option>
                  <option value="p4">اللاعب</option>
                  <option value="p5">اللاعب</option>
                  <option value="p6">اللاعب</option>
                  <option value="p7">اللاعب </option>
                </select>
              </p>
                -->

                    <p class="inp-wrap submit-wrap search col-sm-12">
                        <button type="submit" class="grid-100 btn">
              <i class="fa fa-search"></i>
            </button>

                    </p>
                </form>

            </section>
            <!-- //serach + filter -->

            <br/><br/>

            <div class="col-md-12">
                <h2><a style="color: white;" routerLink="/inter-players">اللاعبين المحترفين</a></h2>
            </div>
        </div>
    </div>
</div>
<!--// SubHeader -4 \\-->


<!--// Main Content \\-->
<div class="sportsmagazine-main-content" id="player">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-player-gridfull">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="sportsmagazine-player sportsmagazine-player-grid">
                        <ul class="row">
                            <li class="col-md-3" *ngFor="let player of FilteredPlayers | searchfilter: 'NameA' : PlayerName">
                                <figure><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{player.ImageUrl}}" alt="" (error)="errorHandler($event)" style="height: 250px; width: 100%;"><span></span></figure>
                                <div class="sportsmagazine-player-grid-text">
                                    <h5><a routerLink="/player-details/{{player.ID}}">{{player.NameA}}</a></h5>
                                    <p> <i class=" fa fa-user"> </i> {{player.Age}} سنه <span class="club_name"><i class=" fa fa-fort-awesome">
                      </i> {{player.ClubName}}</span></p>

                                </div>

                            </li>

                        </ul>
                    </div>
                    <h1 class="text-center" *ngIf="FilteredPlayers.length ===0 ">لا يوجد لاعبين</h1>

                </div>



            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<div class="container">
        <div class="row">
            <div class="col-sm-12" >
            <button class="export" (click)="export()">Download As a Pdf</button>
            </div>
        </div>
</div>
<!--// Main Content \\-->
