<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>قائمة بالاحصائيين</h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a routerLink="/">الرئيسية</a></li>
                    <li>الاحصائيين</li>
                </ul>
            </div>

            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form>
                    <p class="inp-wrap search-wrap">
                        <input type="search" class="grid-75" placeholder="بحث" [(ngModel)]="statisticalName" [ngModelOptions]="{standalone: true}" /></p>
                    <p class="inp-wrap cat-wrap">
                        <select class="grid-80" [(ngModel)]="ClubName" [ngModelOptions]="{standalone: true}">
                <option value="" selected>النادي</option>
                <option *ngFor="let club of Clubs">{{club.NameA}}</option>
              </select>
                    </p>

                    <p class="inp-wrap submit-wrap">
                        <button type="button" class="grid-100 btn" (click)="FilterStatistical(ClubName)">

                <i class="fa fa-search"></i>
              </button>
                    </p>
                </form>

            </section>
            <!-- //serach + filter -->
        </div>
    </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">



    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-player-listfull">
        <div class="container">
            <div class="row">



                <div class="col-md-12">
                    <div class="sportsmagazine-player sportsmagazine-player-list">
                        <ul class="row">
                            <li class="col-md-4" *ngFor="let statistical of FilteredStatistical | searchfilter: 'NameA' : statisticalName">

                                <div class="sportsmagazine-player-list-text" style="overflow-y:auto ; overflow-x: hidden;height:200px" id="style-3">
                                    <h5><a>{{statistical.NameA}}</a></h5>

                                    <h6 style="color:white" *ngFor="let club of statistical.Clubs">{{club.NameA }}</h6>

                                    <div *ngFor="let branche of statistical.Branches">
                                        <h4 style="color:#ee274f">الفرع:
                                            <span style="color:white">{{branche.NameA }}</span>
                                        </h4>
                                    </div>

                                </div>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
