<!--// SubHeader -4 \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>فرع {{branch.NameA}} </h1>
            </div>
            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <ul class=" row">
                    <li class="col-md-6">
                        <h5>العنوان:
                          <span>{{branch.AddressA}} </span>
                        </h5>

                    </li>
                    <li class="col-md-6">
                        <h5>رقم التليفون:
                        <span>{{branch.Phone1}}</span>
                        <br>
                        <span>{{branch.Phone2}}</span>
                      </h5>
                    </li>

                    <li class="col-md-6">
                        <h5>الايميل:
                        <span>{{branch.Email}} </span>
                      </h5>
                    </li>
                    <li class="col-md-6">
                        <h5>الفاكس:
                        <span>{{branch.Fax}} </span>
                      </h5>
                    </li>


                </ul>

            </section>

        </div>
    </div>
</div>
<!--// SubHeader -4 \\-->


<!--// Main Content \\-->

<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-player-gridfull">
        <div class="container">
            <div class="row">
                <h1 class="text-center" *ngIf="branch.Directors.length !==0 ">مجلس الاداره</h1>
                <div class="col-md-12">
                    <div class="sportsmagazine-player sportsmagazine-player-grid">
                        <ul class="row">
                            <li class="col-md-4" *ngFor="let director of branch.Directors" >
                                <figure><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{director.ImageUrl}}" alt="" (error)="errorHandler($event)" style="height: 250px; width: 100%;"><span></span></figure>
                                <div class="sportsmagazine-player-grid-text">
                                    <h5>{{director.NameA}}</h5>
                                    <h5><span style="color:#555555">المنصب: </span>{{director.TitleA}}</h5>
                                    <p> {{director.BriefA}} </p>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <h1 class="text-center" *ngIf="branch.Directors.length ===0 ">لا يوجد مجلس اداره</h1>

                </div>



            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->

