 li {
    float:left;
    list-style: none;
    margin: 20px 0px 15px;
}
li h5,li span{
    color:#fff;
}
.sportsmagazine-player ul li{
    float:none
}
.sportsmagazine-player ul li h5{
    color:#ee274f;
}
.sportsmagazine-main-section h1{
    color:#ee274f;
    margin-bottom:50px;
    text-decoration:underline;
}

