<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
  <span class="subheader-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> الاتحاد </h1>
      </div>
      <div class="col-md-12">
        <ul class="sportsmagazine-breadcrumb">
          <li><a routerLink="/">الرئيسية</a></li>
          <li> لجان الاتحاد </li>
        </ul>

      </div>

    </div>
  </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
    <div class="container">

      <div class="row">

        <div class="sportsmagazine-player sportsmagazine-player-grid">
          <ul class="row">
            <li class="col-md-3" *ngFor="let comm of AllComms">
              <figure><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{comm.ImageUrl}}" alt=""><span></span></figure>
              <div class="sportsmagazine-player-grid-text">
                <h5 style="text-align: center;"><a routerLink="/union-committees-details/{{comm.ID}}">{{comm.NameA}} </a></h5>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
