<!-- //Sub header-3 -->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>جدول المسابقات </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb" *ngIf="Routee.url === '/matches-table'">
                    <li><a>المسابقات</a></li>
                    <li> جدول المسابقات </li>
                </ul>
                <ul class="sportsmagazine-breadcrumb" *ngIf="Routee.url !== '/matches-table'">
                    <li><a>الفرق الوطنية</a></li>
                    <li> جدول المسابقات </li>
                </ul>
            </div>
            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form (ngSubmit)="Filters(filterForm.value)" #filterForm="ngForm">
                    <p class="inp-wrap search-wrap">
                        <input type="hidden" class="grid-75" placeholder="بحث" /></p>
                    <p class="inp-wrap search-wrap">
                        <select name="search categories" id="categories" class="grid-80" #ageId="ngModel" ngModel name="ageId">
                          <option value="" selected>الفئة العمرية</option>
                          <option *ngFor="let age of Ages" [ngValue]="age.ID">{{age.NameA}}</option>
                        </select>
                    </p>
                    <p class="inp-wrap cat-wrap">
                        <select name="search categories" name="gender" ngModel #gender="ngModel">
                        <option value="" selected>الجنس</option>
                        <option value="male">ذكر</option>
                        <option value="female">انثى</option>
                      </select>
                    </p>

                    <p class="inp-wrap submit-wrap">
                        <button type="submit" class="grid-100 btn"><i class="fa fa-search"></i></button>
                    </p>

                </form>
            </section>
            <!-- //serach + filter -->

        </div>
    </div>
</div>
<!-- //sub header-3 -->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content sportsmagazine-main-contentminus">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section PT-25">
        <div class="container">

            <div class="sportsmagazine-main-content"  id="matchTable">

                <!--// Main Section \\-->
                <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
                    <div class="row">

                        <div class="col-md-12">
                            <h3 style="margin-right: 5%;">أحدث المسابقات </h3>
                            <br />
                            <div class="sportsmagazine-playoff-staning" id="matchTable">
                                <table class="sportsmagazine-client-detail">
                                    <tr>
                                        <th><span class="d-block-md">اسم المسابقه</span> </th>
                                        <th><span class="d-block-md">الفريق الاول</span> </th>
                                        <th><span class="d-block-md">الفريق التاني</span>
                                        </th>
                                        <th><span class="d-block-md">الموعد</span> </th>
                                        <th class="d-none">التاريخ</th>
                                        <th class="d-none">النتيجه</th>
                                        <th><span class="d-block-md">المكان </span></th>



                                    </tr>
                                    <tr *ngFor="let match of ComptetionMatches">
                                        <td class="d-block-sm">{{match.CompetitionNameA}}</td>
                                        <td class="d-block-sm">
                                            <figure><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{match.LogoA}}" alt="" (error)="errorHandler($event)"></figure>
                                            <div class="player-stats-text">
                                                <h6>{{match.TeamA}}</h6>

                                            </div>
                                        </td>
                                        <td class="d-block-sm">
                                            <figure><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{match.LogoB}}" alt="" (error)="errorHandler($event)"></figure>
                                            <div class="player-stats-text">
                                                <h6>{{match.TeamB}}</h6>

                                            </div>
                                        </td>
                                        <td class="d-block-sm">{{match.Time}}</td>
                                        <td class="d-none">{{match.Date | date}} </td>
                                        <td class="d-none">{{match.ScoreA}} : {{match.ScoreB}}</td>
                                        <td class="d-none">{{match.Location}}</td>

                                    </tr>

                                </table>
                            </div>

                        </div>



                    </div>
                </div>
                <!--// Main Section \\-->

            </div>
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12" >
                        <button class="export" (click)="export()">Download As a Pdf</button>
                        </div>
                    </div>
            </div>

            <div class="sportsmagazine-main-content">

                <!--// Main Section \\-->
                <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-8">
                                <div id="content">
                                    <div class="Roles" *ngFor="let rule of Rules">
                                        <div class=" sportsmagazine-widget-heading ">
                                            <h2>{{rule.NameA}}</h2>
                                        </div>
                                        <p innerHTML="{{rule.ShortDescriptionA}} "></p>
                                        <a href="http://yakensolution.cloudapp.net/EB/Content/Pdfs/{{rule.PdfName}} " target="blank " class="profisional_players " id="cmd " download="true "> اقرا ك PDF <i class="fa fa-arrow-left "></i>
                                    </a>
                                        <br>
                                        <br>


                                    </div>
                                </div>
                                <div id="editor "></div>
                            </div>

                            <!--// SideBar \\-->
                            <aside class="col-md-4 ">

                                <!--// Widget Upcoming Matches \\-->
                                <div class="sportsmagazine-widget-heading ">
                                    <h2>المسابقات القادمة</h2>
                                </div>
                                <div class="widget widget_matches ">
                                    <ul>
                                        <li *ngFor="let match of NMatches " class="text-center ">
                                            <div class="row ">
                                                <div class="col-md-4 ">
                                                    <div class="text-center ">
                                                        <h6><a>{{match.ClubA}}<img style="max-height: 50px; " src="http://yakensolution.cloudapp.net/EB/Content/Images/{{match.LogoA}} "></a></h6>
                                                    </div>

                                                </div>

                                                <span class="col-md-4 ">VS</span>

                                                <div class="col-md-4 ">
                                                    <div class="text-center ">
                                                        <h6><a>{{match.ClubB}}<img style="max-height: 50px; " src="http://yakensolution.cloudapp.net/EB/Content/Images/{{match.LogoB}} "></a></h6>
                                                    </div>

                                                </div>

                                            </div>

                                            <h4 class="text-center ">{{match.Date | date}}</h4>
                                        </li>

                                    </ul>
                                </div>

                                <!--// Widget Upcoming Matches \\-->



                            </aside>
                            <!--// SideBar \\-->



                        </div>
                    </div>
                    <!--// Main Section \\-->

                </div>
                <div class="row ">
                    <div class="col-md-6 ">
                        <img src="assets/images/Blake-Griffin-500.gif " alt=" ">
                    </div>
                </div>


            </div>
        </div>
        <!--// Main Section \\-->

    </div>
    <!--// Main Content \\-->
    <section id="modal ">
        <div class="wrapper ">
            <div class="content ">
                <div class="close "></div>
                <div class="box "></div>
            </div>
        </div>
    </section>
</div>
