<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
  <span class="subheader-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>قائمة بالمدربين</h1>
      </div>
      <div class="col-md-12">
        <ul class="sportsmagazine-breadcrumb">
          <li><a routerLink="/">الرئيسية</a></li>
          <li>المدربين</li>
        </ul>
      </div>

      <!-- //search + filter -->
      <section class="search-form col-md-12">
        <form>
          <p class="inp-wrap search-wrap">
            <input type="search" class="grid-75" placeholder="بحث" [(ngModel)]="CoachName" [ngModelOptions]="{standalone: true}" /></p>
          <p class="inp-wrap cat-wrap">
            <select class="grid-80" [(ngModel)]="ClubName" [ngModelOptions]="{standalone: true}">
              <option value="" selected>النادي</option>
              <option *ngFor="let club of Clubs">{{club.NameA}}</option>
            </select>
          </p>

          <p class="inp-wrap submit-wrap">
            <button type="button" class="grid-100 btn" (click)="FilterCoaches(ClubName)">

              <i class="fa fa-search"></i>
            </button>
          </p>
        </form>

      </section>
      <!-- //serach + filter -->
    </div>
  </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

  <div class="col-md-12 text-center" style="font-size: 20px;">

    <a class="Coaches-btn">دلیل مبسط عن كیف تصبح مدربًا </a><br>
    <a routerLink="/courses" class="Coaches-btn">الدورات التدریبیة</a>

  </div>

  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section sportsmagazine-player-listfull">
    <div class="container">
      <div class="row">



        <div class="col-md-12">
          <div class="sportsmagazine-player sportsmagazine-player-list">
            <ul class="row">
              <li class="col-md-6" *ngFor="let coache of FilteredCoaches | searchfilter: 'NameA' : CoachName">
                <figure><a routerLink="/coache-details/{{coache.ID}}"><img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{coache.ImageUrl}}"
                      style="height:320px" alt="" (error)="errorHandler($event)"><i class="fa fa-link"></i></a></figure>
                <div class="sportsmagazine-player-list-text" style="overflow-y:auto ; overflow-x: hidden;height:320px"
                  id="style-3">
                  <h5><a routerLink="/coache-details/{{coache.ID}}">{{coache.NameA}}</a> &nbsp; <h1 class="sportsmagazine-forword-btn btn-lg"
                      style="font-size:20px ; color:white">{{coache.Category}}</h1>
                  </h5>

                  <h6 style="color:white">{{coache.ClubName }}</h6>

                  <h6 style="color:white" innerHTML="{{coache.TitleA}}">{{coache.TitleA}}</h6>
                </div>
              </li>

            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
