table td,
table th {
    padding: 10px !important;
}

table td img {
    height: 30px !important;
}

.hiderow {
    display: none;
}

#exampleModal {
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    direction: rtl;
    text-align: right;
    height: 500px;
}

#exampleModal img {
    width: 150px !important;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    border: 4px solid #fff;
}

.close {
    font-size: 18px;
    margin-left: 98%;
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
    width: 26px;
    height: 26px;
    background-color: rgb(99, 99, 99);
    color: #fff;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid #fff;
}

.carousel-caption {
    right: 0px;
    bottom: 0px;
    position: relative;
}

.modal-dialog {
    height: 90%;
}

.modal-content,
.slide {
    height: 100%;
}

.modal-content {
    background: #ee274f;
}

.modal-body {
    height: 80%;
}

.glyphicon-chevron-left:before {
    content: "\00AB";
    font-size: 50px;
    font-weight: bold;
}

.glyphicon-chevron-right:before {
    content: "\00BB";
    font-size: 50px;
    font-weight: bold;
}

.carousel-control {
    background: none;
}

.modal-header {
    border-bottom: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    top: 50%;
}

.glyphicon-chevron-left {
    right: 0%;
}

.glyphicon-chevron-right {
    right: 80%;
}

form {
    margin-right: 15px;
}

form input {
    margin: 10px;
}

.modal-header {
    padding: 0px;
}

.form {
    bottom: -40px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.form input[type="email"] {
    background: #2f2f2f;
    color: #fff;
    font-size: 16px;
    height: 40px;
}

.form input[type="submit"] {
    font-size: 16px;
    height: 42px;
}
