<!--// Main Banner \\-->
<div class="sportsmagazine-banner">
  <!--// Slider \\-->
  <div class="sportsmagazine-banner-one">
    <div class="sportsmagazine-banner-one-layer">
      <img
        src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
          headerImage.ImageUrl
        }}"
        style="width:100%"
        alt=""
      />
      <span class="sportsmagazine-banner-pattren"></span>
      <div class="sportsmagazine-banner-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="sportsmagazine-banner-wrap text-center">
                <h1>
                  الاتحاد المصري لكرة
                  <strong class="sportsmagazine-color">السلة</strong>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Slider \\-->
</div>

<!--// Main Banner \\-->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--// Main Content \\-->
<div class="sportsmagazine-main-content">
  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section">
    <div class="container">
      <div class="row">
        <!--// Content \\-->
        <div class="col-md-8">
          <!--// Latest Match Result \\-->
          <div class="sportsmagazine-match-result">
            <div class="sportsmagazine-match-title">
              <h4>أحدث المسابقات</h4>
              <span>{{ LastScore.Date | date }}</span>
            </div>
            <ul>
              <li>
                <img
                  style="max-width: 100px; max-height: 100px;"
                  src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                    LastScore.LogoA
                  }}"
                  alt=""
                />
                <h4>
                  <a>{{ LastScore.ClubA }}</a>
                </h4>
              </li>
              <li class="sportsmagazine-match-score">
                <h5>النتيجة</h5>
                <p>
                  <b
                    [ngClass]="{
                      'sportsmagazine-color':
                        LastScore.ScoreA > LastScore.ScoreB
                    }"
                    >{{ LastScore.ScoreA }}</b
                  >
                  <small>:</small>
                  <b
                    [ngClass]="{
                      'sportsmagazine-color':
                        LastScore.ScoreA < LastScore.ScoreB
                    }"
                    >{{ LastScore.ScoreB }}</b
                  >
                </p>
              </li>
              <li>
                <img
                  style="max-width: 100px; max-height: 100px;"
                  src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                    LastScore.LogoB
                  }}"
                  alt=""
                />
                <h4>
                  <a>{{ LastScore.ClubB }}</a>
                </h4>
              </li>
            </ul>
          </div>
          <!--// Latest Match Result \\-->
          <!--// Fancy Title \\-->
          <div class="sportsmagazine-fancy-title">
            <h2>الآن</h2>
          </div>
          <!--// Fancy Title \\-->

          <style>
            .sportsmagazine-featured-caption {
              background-color: black;
            }

            .sportsmagazine-color {
              color: white;
            }
          </style>

          <!--// Featured Slider \\-->
          <div class="sportsmagazine-featured-slider">
            <div class="sportsmagazine-featured-slider-layer">
              <a routerLink="/news-details/{{ LastNews[0].ID }}">
                <img
                  src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                    LastNews[0].ImageUrl
                  }}"
                  style="width:100% ; height:100%"
                  (error)="errorHandler($event)"
                  alt=""
                />
                <span class="sportsmagazine-black"></span>
                <div class="sportsmagazine-featured-caption">
                  <h2>
                    {{ LastNews[0].TitleA }}
                  </h2>

                  <p
                    style="color:white"
                    innerHTML="{{ LastNews[0].ShortDescriptionA }}"
                  ></p>
                  <span class="sportsmagazine-color">
                    {{ LastNews[0].CreationDate | date }}</span
                  >
                </div>
              </a>
            </div>
            <div
              class="sportsmagazine-featured-slider-layer"
              *ngIf="LastNews.length > 1"
            >
              <a routerLink="/news-details/{{ LastNews[1].ID }}">
                <img
                  src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                    LastNews[1].ImageUrl
                  }}"
                  style="width:100% ; height:100%"
                  (error)="errorHandler($event)"
                  alt=""
                />
                <span class="sportsmagazine-black"></span>
                <div class="sportsmagazine-featured-caption">
                  <h2>{{ LastNews[1].TitleA }}</h2>

                  <p
                    style="color:white"
                    innerHTML="{{ LastNews[1].ShortDescriptionA }}"
                  ></p>
                  <span class="sportsmagazine-color">{{
                    LastNews[1].CreationDate | date
                  }}</span>
                </div>
              </a>
            </div>
            <div
              class="sportsmagazine-featured-slider-layer"
              *ngIf="LastNews.length > 2"
            >
              <a routerLink="/news-details/{{ LastNews[2].ID }}">
                <img
                  src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                    LastNews[2].ImageUrl
                  }}"
                  style="width:100% ; height:100%"
                  (error)="errorHandler($event)"
                  alt=""
                />
                <span class="sportsmagazine-black"></span>
                <div class="sportsmagazine-featured-caption">
                  <h2>
                    {{ LastNews[2].TitleA }}
                  </h2>

                  <p
                    style="color:white"
                    innerHTML="{{ LastNews[2].ShortDescriptionA }}"
                  ></p>
                  <span class="sportsmagazine-color">{{
                    LastNews[2].CreationDate | date
                  }}</span>
                </div>
              </a>
            </div>
            <div
              class="sportsmagazine-featured-slider-layer"
              *ngIf="LastNews.length > 3"
            >
              <a routerLink="/news-details/{{ LastNews[3].ID }}">
                <img
                  src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                    LastNews[3].ImageUrl
                  }}"
                  style="width:100% ; height:100%"
                  (error)="errorHandler($event)"
                  alt=""
                />
                <span class="sportsmagazine-black"></span>
                <div class="sportsmagazine-featured-caption">
                  <h2>
                    {{ LastNews[3].TitleA }}
                  </h2>

                  <p
                    style="color:white"
                    innerHTML="{{ LastNews[3].ShortDescriptionA }}"
                  ></p>
                  <span class="sportsmagazine-color">{{
                    LastNews[3].CreationDate | date
                  }}</span>
                </div>
              </a>
            </div>
          </div>
          <!--// Featured Slider \\-->

          <!--// Fancy Title \\-->
          <div class="sportsmagazine-fancy-title">
            <h2>الأخبار</h2>
          </div>
          <!--// Fancy Title \\-->
          <!--// Blog's \\-->
          <div class="sportsmagazine-blog sportsmagazine-blog-grid">
            <ul class="row">
              <li class="col-md-6" *ngIf="News[0].ID !== ''">
                <figure>
                  <a routerLink="/news-details/News[0].ID"
                    ><img
                      src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                        News[0].ImageUrl
                      }}"
                      alt=""
                      (error)="errorHandler($event)"
                  /></a>
                  <figcaption></figcaption>
                </figure>
                <section>
                  <a routerLink="/news-details/{{ News[0].ID }}">
                    <h4>{{ News[0].TitleA }}</h4>
                  </a>
                  <p innerHTML="{{ News[0].ShortDescriptionA }}"></p>
                </section>
                <div class="sportsmagazine-blog-grid-options">
                  <ul>
                    <li>
                      <i class="fa fa-calendar"></i>
                      <a href="">{{ News[0].CreationDate | date }}</a>
                    </li>
                    <li>
                      <i class="fa fa-eye"></i> <a>{{ News[0].Views }}</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="col-md-6" *ngIf="News[1].ID !== ''">
                <figure>
                  <a routerLink="/news-details/{{ News[1].ID }}"
                    ><img
                      src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                        News[1].ImageUrl
                      }}"
                      alt=""
                      (error)="errorHandler($event)"
                  /></a>
                  <figcaption></figcaption>
                </figure>
                <section>
                  <a routerLink="/news-details/{{ News[1].ID }}">
                    <h4>{{ News[1].TitleA }}</h4>
                  </a>
                  <p innerHTML="{{ News[1].ShortDescriptionA }}"></p>
                </section>
                <div class="sportsmagazine-blog-grid-options">
                  <ul>
                    <li>
                      <i class="fa fa-calendar"></i>
                      <a href="">{{ News[1].CreationDate | date }}</a>
                    </li>
                    <li>
                      <i class="fa fa-eye"></i> <a>{{ News[1].Views }}</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="col-md-6" *ngIf="News[2].ID !== ''">
                <figure>
                  <a routerLink="/news-details/{{ News[2].ID }}"
                    ><img
                      src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                        News[2].ImageUrl
                      }}"
                      alt=""
                      (error)="errorHandler($event)"
                  /></a>
                  <figcaption></figcaption>
                </figure>
                <section>
                  <a routerLink="/news-details/{{ News[2].ID }}">
                    <h4>{{ News[2].TitleA }}</h4>
                  </a>

                  <p innerHTML="{{ News[2].ShortDescriptionA }}"></p>
                </section>
                <div class="sportsmagazine-blog-grid-options">
                  <ul>
                    <li>
                      <i class="fa fa-calendar"></i>
                      <a href="">{{ News[2].CreationDate | date }}</a>
                    </li>
                    <li>
                      <i class="fa fa-eye"></i> <a>{{ News[2].Views }}</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="col-md-6" *ngIf="News[3].ID !== ''">
                <figure>
                  <a routerLink="/news-details/{{ News[3].ID }}"
                    ><img
                      src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                        News[3].ImageUrl
                      }}"
                      alt=""
                      (error)="errorHandler($event)"
                  /></a>
                  <figcaption></figcaption>
                </figure>
                <section>
                  <a routerLink="/news-details/{{ News[3].ID }}">
                    <h4>{{ News[3].TitleA }}</h4>
                  </a>

                  <p innerHTML="{{ News[3].ShortDescriptionA }}"></p>
                </section>
                <div class="sportsmagazine-blog-grid-options">
                  <ul>
                    <li>
                      <i class="fa fa-calendar"></i>
                      <a>{{ News[3].CreationDate | date }}</a>
                    </li>
                    <li>
                      <i class="fa fa-eye"></i> <a>{{ News[3].Views }}</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="col-md-12">
                <h1 class="text-center">
                  <a routerLink="/news"
                    ><i class="fa fa-arrow-circle-o-right"></i>المزيد</a
                  >
                </h1>
              </li>
            </ul>
          </div>

          <!--// Blog's \\-->
        </div>
        <!--// Content \\-->

        <!--// SideBaar \\-->
        <aside class="col-md-4">
          <!--// Widget TeamRanking \\-->
          <!-- <div class="sportsmagazine-widget-heading">
            <h2>ترتيب الدوري - الممتاز أ رجال</h2>
          </div>
          <div class="widget widget_team_ranking">
            <div class="ranking-title-table">
              <ul class="ranking-title-row">
                <li>الترتيب</li>
                <li>الفريق</li>
                <li>لوجو</li>
                <li class="text-center">L</li>
                <li class="text-center">W</li>
                <li class="text-center">G</li>
                <li class="text-center">M</li>
                <li class="text-center">PTS</li>
              </ul>
            </div>
            <div
              class="ranking-content-table"
              *ngFor="let row of TableAMales; let i = index"
            >
              <ul class="ranking-content-row">
                <li class="text-center">{{ i + 1 }}</li>
                <li class="text-center">
                  <img
                    src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                      row.ClubA.Logo
                    }}"
                    alt=""
                    (error)="errorHandler($event)"
                  />
                  <div class="ranking-logo">
                    <span>{{ row.ClubA.NameA }}</span>
                  </div>
                </li>
                <li class="text-center">{{ row.Lose }}</li>
                <li class="text-center">{{ row.Winner }}</li>
                <li class="text-center">{{ row.OutGoals - row.INGoals }}</li>
                <li class="text-center">{{ row.NumberOfMatches }}</li>
                <li class="text-center">{{ row.Points }}</li>
              </ul>
            </div>
          </div> -->

          <!--// Widget TeamRanking \\-->

          <!--// Widget TeamRanking \\-->
          <!-- <div class="sportsmagazine-widget-heading">
            <h2>ترتيب الدوري - الممتاز أ سيدات</h2>
          </div>
          <div class="widget widget_team_ranking">
            <div class="ranking-title-table">
              <ul class="ranking-title-row">
                <li>الترتيب</li>
                <li>الفريق</li>
                <li>لوجو</li>
                <li class="text-center">L</li>
                <li class="text-center">W</li>
                <li class="text-center">G</li>
                <li class="text-center">M</li>
                <li class="text-center">PTS</li>
              </ul>
            </div>
            <div
              class="ranking-content-table"
              *ngFor="let row of TableAFemales; let i = index"
            >
              <ul class="ranking-content-row">
                <li class="text-center">{{ i + 1 }}</li>
                <li class="text-center">
                  <img
                    src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                      row.ClubA.Logo
                    }}"
                    alt=""
                    (error)="errorHandler($event)"
                  />
                  <div class="ranking-logo">
                    <span>{{ row.ClubA.NameA }}</span>
                  </div>
                </li>
                <li class="text-center">{{ row.Lose }}</li>
                <li class="text-center">{{ row.Winner }}</li>
                <li class="text-center">{{ row.OutGoals - row.INGoals }}</li>
                <li class="text-center">{{ row.NumberOfMatches }}</li>
                <li class="text-center">{{ row.Points }}</li>
              </ul>
            </div>
          </div> -->
          <!--// Widget TeamRanking \\-->
          <div class="sportsmagazine-widget-heading">
            <h2>احدث المسابقات</h2>
          </div>
          <div class="widget widget_team_ranking">
            <table class="ranking-title-table">
              <thead class="ranking-title-row">
                <th>الفرقه الاولى</th>
                <th>الفرقه التانيه</th>
                <th>نقاط الفرقه الاولى</th>
                <th class="text-center">نقاط الفرقه التانيه</th>
                <th class="text-center">التاريخ</th>
                <th class="text-center">المكان</th>
              </thead>

              <tbody
                [ngClass]="i <= 10 ? 'ranking-content-row' : 'hiderow'"
                *ngFor="let row of matchScore; let i = index"
              >
                <td class="text-center">
                  {{ row.ClubA
                  }}<img
                    src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                      row.LogoA
                    }}"
                  />
                </td>

                <td class="text-center">
                  {{ row.ClubB
                  }}<img
                    src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                      row.LogoB
                    }}"
                  />
                </td>
                <td class="text-center">{{ row.ScoreA }}</td>
                <td class="text-center">{{ row.ScoreB }}</td>
                <td class="text-center">{{ row.Date | date }}</td>
                <td class="text-center">{{ row.Place }}</td>
              </tbody>
            </table>
          </div>
          <!-- <app-match-results></app-match-results> -->
          <!--// Widget Popular News \\-->
          <!-- <div class="widget widget_popular_news">
            <div class="sportsmagazine-fancy-title">
              <h2>أخبار شعبية</h2>
            </div>
            <ul>
              <li>
                <span>01</span>
                <div class="popular_news_text">
                  <small>الفريق</small>
                  <a href="blog-detail.html">سوف ملعب كرة السلة قدرة
                    قصوى ل 5000 المشجعين</a>
                  <time datetime="2008-02-14 20:00">ديسمبر 21, 2017</time>
                </div>
              </li>
              <li class="widget-injuries">
                <span>02</span>
                <div class="popular_news_text">
                  <small>الإصابات</small>
                  <a href="blog-detail.html">يجب على كلوفرز الدفاع
                    إعادة اختراع نفسها دون</a>
                  <time datetime="2008-02-14 20:00">ديسمبر 21, 2017</time>
                </div>
              </li>
              <li class="widget-theleague">
                <span>03</span>
                <div class="popular_news_text">
                  <small>الدوري</small>
                  <a href="blog-detail.html">نلقي نظرة على الخوذ
                    العلامة التجارية الجديدة للموسم المقبل</a>
                  <time datetime="2008-02-14 20:00">ديسمبر 21, 2017</time>
                </div>
              </li>
              <li>
                <span>04</span>
                <div class="popular_news_text">
                  <small>الفريق</small>
                  <a href="blog-detail.html">بدأت فرقة كرة السلة
                    النسائية التدريب</a>
                  <time datetime="2008-02-14 20:00">ديسمبر 21, 2017</time>
                </div>
              </li>
              <li>
                <span>05</span>
                <div class="popular_news_text">
                  <small>الفريق</small>
                  <a href="blog-detail.html">بدأت فرقة كرة السلة
                    النسائية التدريب</a>
                  <time datetime="2008-02-14 20:00">ديسمبر 21, 2017</time>
                </div>
              </li>
            </ul>
          </div> -->
          <!--// Widget Popular News \\-->

          <!--// Widget Trending News \\-->
          <!-- <div class="widget widget_trending_news">
            <div class="sportsmagazine-fancy-title">
              <h2>أعلى الأخبار الرائجة</h2>
            </div>

            <ul class="nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">مجموعة جديدة</a>
              </li>
              <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">الأكثر
                  تعليقا</a>
              </li>

            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="widget_popular_news">
                  <ul>
                    <li>
                      <div class="popular_news_text">
                        <small>الفريق</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                    <li class="widget-injuries">
                      <div class="popular_news_text">
                        <small>الإصابات</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                    <li class="widget-theleague">
                      <div class="popular_news_text">
                        <small> الدوري</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="widget_popular_news">
                  <ul>
                    <li class="widget-injuries">
                      <div class="popular_news_text">
                        <small>الإصابات</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                    <li>
                      <div class="popular_news_text">
                        <small>الفريق</small>
                        <a href="blog-detail.html">سوف ملعب كرة
                          السلة قدرة قصوى ل 5000 المشجعين</a>
                        <time datetime="2008-02-14 20:00">ديسمبر
                          21, 2017</time>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن
                          المحتوى المقروء لصفحة ما سيلهي
                          القارئ عن التركيز على الشكل الخارجي
                          للنص أو شكل توضع الفقرات
                          في الصفحة التي يقرأها. </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
           -->
          <!--// Widget Trending News \\-->

          <!--// Widget Newsletter \\-->
          <!-- <div class="widget widget_newsletter">
            <div class="sportsmagazine-fancy-title">
              <h2>النشرة الإخبارية لدينا</h2>
            </div>
            <form>
              <label>إشترك الآن</label>
              <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء
                لصفحة ما سيلهي القارئ عن التركيز
                على الشكل الخارجي للنص .</p>
              <input type="text" value="اسمك" onblur="if(this.value == '') { this.value ='اسمك'; }" onfocus="if(this.value =='اسمك') { this.value = ''; }">
              <input type="text" value="أدخل بريدك الإلكتروني" onblur="if(this.value == '') { this.value ='أدخل بريدك الإلكتروني'; }"
                onfocus="if(this.value =='أدخل بريدك الإلكتروني') { this.value = ''; }">
              <label class="widget_newsletter_btn">
                <input type="submit" value="اشترك">
              </label>
            </form>
          </div> -->
          <!--// Widget Newsletter \\-->
        </aside>
        <!--// SideBaar \\-->

        <!-- //Sport Club -->
        <div class="col-md-12">
          <!--// Fancy Title \\-->
          <div class="sportsmagazine-fancy-title">
            <h2>اللاعبين</h2>
          </div>
          <!--// Fancy Title \\-->

          <!--// Featured Slider \\-->
          <div class="sportsmagazine-featured-slider" style="direction: rtl;">
            <div
              class="sportsmagazine-featured-slider-layer"
              style="height: 600px;"
            >
              <img
                src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                  FPlayers[1].ImageUrl
                }}"
                style="width:100% ; height:100%"
                (error)="errorHandler($event)"
                alt=""
              />
              <span class="sportsmagazine-black"></span>
              <div class="sportsmagazine-featured-caption">
                <span style="font-size:40px; color: white !important;">{{
                  FPlayers[1].PlayerNumber
                }}</span>
                <a routerLink="/player-details/{{ FPlayers[1].ID }}">
                  <h2>
                    {{ FPlayers[1].NameA }}
                  </h2>
                </a>
                <div class="row">
                  <div class="col-md-6">
                    <a
                      routerLink="/player-details/{{ FPlayers[1].ID }}"
                      style="font-size:12px; color: white !important;"
                    >
                      المركز:{{ FPlayers[1].Position }}</a
                    >
                  </div>
                  <div class="col-md-6">
                    <a
                      routerLink="/player-details/{{ FPlayers[1].ID }}"
                      style="font-size:12px; color: white !important;"
                    >
                      الوزن:{{ FPlayers[1].Weight }}كيلو
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a
                      routerLink="/player-details/{{ FPlayers[1].ID }}"
                      style="font-size:12px; color: white !important;"
                    >
                      الطول:{{ FPlayers[1].Height }}سم
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a
                      routerLink="/player-details/{{ FPlayers[1].ID }}"
                      style="font-size:12px; color: white !important;"
                    >
                      السن:{{ FPlayers[1].Age }}سنة
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a
                      routerLink="/player-details/{{ FPlayers[1].ID }}"
                      style="font-size:12px; color: white !important;"
                    >
                      النادي:{{ FPlayers[1].ClubName }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--// Featured Slider \\-->
          <!--// Fancy Title \\-->
          <div class="sportsmagazine-fancy-title">
            <h2>ألبوم الصور</h2>
          </div>
          <!--// Fancy Title \\-->
          <div class="sportsmagazine-gallery sportsmagazine-fixture-gallery">
            <ul>
              <li *ngFor="let img of Gallery; let i = index">
                <figure *ngIf="i < 7">
                  <a
                    data-fancybox-group="group"
                    class="fancybox"
                    target="blank"
                    href="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                      img.ImageUrl
                    }}"
                    ><img
                      src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                        img.ImageUrl
                      }}"
                      alt=""/><i class="fas fa-eye fa-lg"></i
                  ></a>

                  <figcaption>
                    <h6 class="text-center">
                      <time>{{ img.Date | date }}</time>
                    </h6>

                    <h6 innerHTML="{{ img.DescriptionA }}"></h6>
                  </figcaption>
                </figure>
              </li>
            </ul>
          </div>
          <h1 class="text-center">
            <a routerLink="/gallery"
              >المزيد <i class="fa fa-arrow-circle-o-right"></i
            ></a>
          </h1>
        </div>
        <!-- //Sport Club -->
      </div>
    </div>
  </div>
  <!--// Main Section \\-->
</div>
<!--// Main Content \\-->
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary "
  style="display: none"
  data-toggle="modal"
  data-target="#exampleModal"
  id="importantNews"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="myCarousel" class="carousel slide " data-ride="carousel">
          <!-- Indicators -->

          <!-- Wrapper for slides -->
          <div class="carousel-inner container">
            <div
              [ngClass]="i == 0 ? 'item active' : 'item'"
              class=" row"
              *ngFor="let new of ImportantNews; let i = index"
            >
              <div class="carousel-caption col-sm-7">
                <h3 style="color:#fff">{{ new.TitleA }}</h3>
                <p style="color:#fff" [innerHTML]="new.ShortDescriptionA"></p>
              </div>
              <div class="col-sm-5">
                <img
                  src="http://yakensolution.cloudapp.net/EB/Content/Images/{{
                    new.ImageUrl
                  }}"
                  alt="Los Angeles"
                  style="width:100%;"
                />
              </div>
            </div>
          </div>
          <div class="row form">
            <h6 style="color: #fff;text-align: left; margin-left: 10px">
              If You Want to compare
            </h6>
            <form
              id="formId"
              #refForm="ngForm"
              (ngSubmit)="compare(refForm.value)"
            >
              <input
                type="submit"
                class="btn btn-primary   "
                value="Submit"
                [disabled]="!refForm.valid"
              />
              <input
                type="email"
                ngModel
                name="Email"
                #Email="ngModel"
                placeholder="الايميل"
              />
            </form>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="right carousel-control"
            href="#myCarousel"
            data-slide="next"
          >
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
