<!--// SubHeader-5 \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> تاريخ البطولات </h1>
            </div>

            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form (ngSubmit)="Filters(filterForm.value)" #filterForm="ngForm">
                    <p class="inp-wrap cat-wrap">
                        <select class="grid-80" name="gender" #gender="ngModel" ngModel>
                          <option value="" selected>الجنس</option>
                          <option value="ذكر" >ذكر</option>
                          <option value="انثى" >انثى</option>
                        </select>
                    </p>

                    <p class="inp-wrap cat-wrap">
                        <select name="search categories" id="categories" class="grid-80" name="ageId" #ageId="ngModel" ngModel>
                          <option value="" selected>الفئه العمريه</option>
                          <option *ngFor="let age of Ages" [ngValue]="age.ID">{{age.NameA}} </option>
                        </select>
                    </p>
                    <p class="inp-wrap cat-wrap">
                        <select name="search categories" id="categories" class="grid-80" name="seasonId" #seasonId="ngModel" ngModel>
                          <option value="" selected>الموسم</option>
                          <option *ngFor="let season of Seasons" [ngValue]="season.ID">{{season.Season}} </option>
                        </select>
                    </p>

                    <p class="inp-wrap submit-wrap">
                        <button type="submit" class="grid-100 btn"><i class="fa fa-search"></i></button>
                    </p>

                </form>
            </section>
            <!-- //serach + filter -->
        </div>
    </div>
</div>
<!--// SubHeader-5 \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
        <div class="row">

            <div class="col-md-12">
                <h3 style="margin-right: 5%;">أحدث البطولات </h3>
                <br />
                <div class="sportsmagazine-playoff-staning">
                    <table class="sportsmagazine-client-detail">
                        <tr>
                            <th><span class="d-block-md">الموسم</span> </th>
                            <th><span class="d-block-md">اسم الفريق</span> </th>
                            <th><span class="d-block-md">المرتبه</span></th>
                            <th><span class="d-block-md">تحت سن</span></th>
                            <th><span class="d-block-md">النوع</span></th>

                        </tr>
                        <tbody *ngFor="let seasonHistory of SeasonHistory">
                            <tr *ngFor="let team of seasonHistory.Teams">
                                <td class="d-block-sm">{{seasonHistory.Season}}</td>
                                <td class="d-block-sm">{{team.TeamNameAr}}</td>
                                <td class="d-block-sm">{{team.Rank}}</td>
                                <td class="d-block-sm">{{team.AgeAr}}</td>
                                <td class="d-block-sm">{{team.Gender}}</td>
                            </tr>
                        </tbody>


                    </table>
                </div>

            </div>



        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
