<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
  <span class="subheader-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> تفاصيل المسابقات</h1>
      </div>
      <div class="col-md-12">
        <ul class="sportsmagazine-breadcrumb">
          <li><a routerLink="/">الرئيسية</a></li>
          <li> تفاصيل المسابقات</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->

<div class="sportsmagazine-main-content sportsmagazine-main-contentminus">
  <br>
  <br>
  <br>
  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section">
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <div class="sportsmagazine-section-heading">
            <h2>تفاصيل البطوله - {{Comp ? Comp.NameA : ""}}</h2>
          </div>
          <ul class="sportsmagazine-match-info">

            <li>
              <i class="fa fa-map-marker"></i>
              <span>{{Comp ? Comp.Location : ""}}</span>
            </li>
            <li><a class="btn btn-success" href="http://{{Comp ? Comp.RegisterLink : ''}}">سجل الان</a></li>
          </ul>

          <div class="col-xs-12">
            <!--// Widget Cetagories \\-->
            <div class="sportsmagazine-widget-heading">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div [ngSwitch]="view">
              <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-month-view>
              <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-week-view>
              <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-day-view>
            </div>

            <div id="bottom" class="collectonme"></div>
          </div>



          <div class="sportsmagazine-playoff-staning">
            <h4>أحدث النتائج </h4>
            <table class="sportsmagazine-client-detail table">
              <tr>
                <th>الفريق الاول</th>
                <th>الفريق التاني</th>
                <th>نقاط الفريق الاول</th>
                <th>نقاط الفريق التاني</th>
                <th class="d-none">التاريخ</th>
                <th class="d-none">المكان</th>

              </tr>
              <tr *ngFor="let row of CompScores; let i = index ">
                <td>{{row.TeamA}}</td>
                <td>{{row.TeamB}}</td>
                <td>{{row.ScoreA}}</td>
                <td>{{row.ScoreB}}</td>
                <td>{{row.Date}}</td>
                <td>{{row.Time}}</td>
              </tr>
            </table>
          </div>

        </div>

        <!--// SideBar \\-->
        <aside class="col-md-4">


          <!--// Widget TeamRanking \\-->
          <div class="sportsmagazine-widget-heading">
            <h2>ترتيب الفرق</h2>
          </div>
          <div class="widget widget_team_ranking">

            <div class="ranking-title-table">
              <ul class="ranking-title-row">
                <li>الترتيب</li>
                <li>الفريق</li>
                <li>لوجو</li>
                <li class="text-center">L</li>
                <li class="text-center">W</li>
                <li class="text-center">G</li>
                <li class="text-center">M</li>
                <li class="text-center">PTS</li>
              </ul>
            </div>
            <div class="ranking-content-table" *ngFor="let row of CompTables; let i = index ">
              <ul class="ranking-content-row">
                <li class="text-center">{{i+1}}</li>
                <li class="text-center">
                  <img src="http://yakensolution.cloudapp.net/EB/Content/Images/{{row.Logo}}" alt="" (error)="errorHandler($event)">
                  <div class="ranking-logo">
                    <span>{{row.TeamName}}</span>
                  </div>
                </li>
                <li class="text-center">{{row.Lose}}</li>
                <li class="text-center">{{row.Winner}}</li>
                <li class="text-center">{{row.INGoals - row.OutGoals}}</li>
                <li class="text-center">{{row.NumberOfMatches}}</li>
                <li class="text-center">{{row.Points}}</li>
              </ul>
            </div>

          </div>
          <!--// Widget TeamRanking \\-->


        </aside>
        <!--// SideBar \\-->


      </div>
    </div>
  </div>
  <!--// Main Section \\-->

</div>
<!--// Main Content \\-->
